<div class="content">
  <!-- Business Header -->
  <app-business-header></app-business-header>

  <!-- Business Content -->
  <div class="business-inner">
    <ul class="row no-gutters">
      <li class="col-lg-4 col-12">
        <a routerLink="/business/scooter-rental"
          ><span>{{ "menu.scoter-rental" | translate }}</span></a
        >
      </li>
      <li class="col-lg-4 col-12">
        <a routerLink="/business/visa"
          ><span>{{ "menu.visa-wp" | translate }}</span></a
        >
      </li>
      <li class="col-lg-4 col-12">
        <a routerLink="/business/exchange"
          ><span>{{ "menu.current-exchange" | translate }}</span></a
        >
      </li>
      <!-- <li class="col-lg-6 col-12">
                <a routerLink="/business/remittance"><span>{{ 'menu.remittance' | translate }}</span></a>
            </li> -->
    </ul>
  </div>
</div>
