<div class="content">
    <app-business-header></app-business-header>
    <div class="business-inner">
        <ul class="row no-gutters">
            <li class="col-lg-4 col-12">
                <a routerLink=""><span>Scoter Rental</span></a>
            </li>
            <li class="col-lg-4 col-12">
                <a routerLink="/visa"><span>Visa & WP</span></a>
            </li>
            <li class="col-lg-4 col-12">
                <a routerLink="exchange"><span>Current Exchange</span></a>
            </li>
            <li class="col-lg-4 col-12">
                <a routerLink=""><span>Travel Agency</span></a>
            </li>
        </ul>
    </div>
</div>