<div class="content">
    <div class="top-banner">
        <h2 class="top-banner__title">事業紹介<span>BUSINESS</span></h2>
        <div class="w-100 text-center mt-2">
            <span>PRODUCT INFORMATION</span>
        </div>
        <ul id="breadcrumbs" class="breadcrumbs">
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="business">事業紹介</a></li>
            <li class="active">情報機器ビジネス 主な取り扱い品目</li>
        </ul>
    </div>
    <div class="content__pagetitle">
        <h3 class="title-gray">主な取り扱い品目</h3>
    </div>
    <div class="content__wrap bg-lightblue product-item">
        <div class="product-item__area">
            半導体 / 一般電子部品 / LED / ハードディスク / 液晶パネル ほか
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="product-item__title">
                <h3>半導体</h3>
            </div>
            <div class="product-item__content">
                <div class="product-item__text">
                    <p>あらゆるモノがインターネットにつながるIoTやAI（人工知能）の普及、ビッグデータやクラウドの活用、そして本格的な5G時代の幕開け、と半導体が担う役割はますます大きくなっています。
                        更には、エアコンや冷蔵庫、電子レンジ、といった家電製品はもちろん、地球温暖化対策には欠かせないハイブリッドカーや電気自動車など様々な機器の効率向上、省電力化のためのパワー半導体など、お客様の幅広いご要望に合わせ、国内外の主要メーカーより業界最高水準の製品を調達しています。
                    </p>
                </div>
                <div class="product-item__img">
                    <img src="../../../../assets/images/semiconductor/semiconductor_items_img01.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="product-item__title">
                <h3>一般電子部品</h3>
            </div>
            <div class="product-item__content">
                <div class="product-item__text">
                    <p>専門技術チームのもと、世界各地のグループ会社と連携し、コンデンサ、ヒューズ、コネクタ、配線基盤など様々な電子部品を取り扱っています。</p>
                </div>
                <div class="product-item__img">
                    <img src="../../../../assets/images/semiconductor/semiconductor_items_img02.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="product-item__title">
                <h3>LED</h3>
            </div>
            <div class="product-item__content">
                <div class="product-item__text">
                    <p>LED（Light-emitting diode）は、寿命が白熱電球に比べて長く、数ボルトの低電圧で発光します。</p>
                    <p>赤、緑、青の三原色があるので、組み合わせによって様々な色を作ることができます。
                        家庭用電球のほか、電光掲示板や信号機、大型ディスプレイなど多分野で使われています。
                    </p>
                </div>
                <div class="product-item__img">
                    <img src="../../../../assets/images/semiconductor/semiconductor_items_img03.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="product-item__title">
                <h3>ストレージデバイス</h3>
            </div>
            <div class="product-item__content">
                <div class="product-item__text">
                    <p>IoTの進展は、人から発せられるデータに比べて大量なデータを生成しますので、革新的なストレージがこれからのIoT時代を支えると言っても過言ではありません。そして、そのような大量データを処理するためには大容量かつ高速な処理を可能とするストレージが必要です。ハードディスク、フラッシュメモリ、メモリーカードなど最新の情報を収集しながら、お客様のご要望に応じた最適なストレージデバイスをご提案しています。</p>
                </div>
                <div class="product-item__img">
                    <img src="../../../../assets/images/semiconductor/semiconductor_items_img04.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="product-item__title">
                <h3>ディスプレイデバイス</h3>
            </div>
            <div class="product-item__content">
                <div class="product-item__text">
                    <p>デジタル化、モバイル化とネットワーキングに支えられた情報通信の進展は驚異的なスピードで進んでおり、映像や音声の視聴環境も変化しています。</p>
                    <p>より美しく高品質の映像や音声を、モバイルデバイスなど様々なデバイスでの視聴を可能にする、高品質のディスプレイデバイスをご提案いたします。</p>
                </div>
                <div class="product-item__img">
                    <img src="../../../../assets/images/semiconductor/semiconductor_items_img05.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <ul class="row bottom-link">
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/semiconductor">電子部品・<br>半導体ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/ems">EMS<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/product-info">情報機器<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/newbusiness">ニュー<br>ビジネス</a>
                </li>
            </ul>
        </div>
    </div>
</div>