<!-- footer section -->
<div class="content footer">
    <div class="category">
        <div class="row">
            <div class="col-md-4 col-12">
                <ul class="category__list">
                    <li class="category__title"><a routerLink="./company/index.html">会社情報</a></li>
                    <li><a routerLink="./company/vision.html">企業理念</a></li>
                    <li><a routerLink="./company/founder.html">創業者が語るストーリー　創業者紹介</a></li>
                    <li><a routerLink="./company/president.html">社長メッセージ</a></li>
                    <li><a routerLink="./company/outline.html">会社概要</a></li>
                    <li><a routerLink="./company/history.html">加賀電子 50 年の歴史　会社沿革</a></li>
                    <li><a routerLink="./company/base.html">加賀電子のグローバリゼーション<br>営業所情報</a></li>
                    <li><a routerLink="./company/about.html">加賀電子とは</a></li>
                    <li><a routerLink="./company/group/index.html">グループ会社情報</a></li>
                </ul>
                <ul class="category__list">
                    <li class="category__title"><a routerLink="./csr/index.html">サステナビリティ</a></li>
                    <li><a routerLink="./csr/policy.html">CSR 基本方針・行動規範</a></li>
                    <li><a routerLink="./csr/governance.html">コーポレート・ガバナンス</a></li>
                    <li><a routerLink="./csr/systems.html">内部統制システム</a></li>
                    <li><a routerLink="./csr/conservation.html">環境保全への取り組み</a></li>
                    <li><a routerLink="./csr/society.html">社会貢献活動</a></li>
                    <li><a routerLink="./csr/sdgs.html">SDGs</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <ul class="category__list">
                    <li class="category__title"><a routerLink="./business/index.html">事業紹介</a></li>
                    <li><a routerLink="./business/solution.html">加賀電子の課題解決力</a></li>
                    <li><a routerLink="./business/business-fields.html">事業分野一覧</a></li>
                    <li><a routerLink="./business/semiconductor.html">電子部品・半導体ビジネス</a></li>
                    <li><a routerLink="./business/ems.html">EMS ビジネス</a></li>
                    <li><a routerLink="./business/information_product.html">情報機器ビジネス</a></li>
                    <li><a routerLink="./business/newbusiness.html">ニュービジネス</a></li>
                </ul>
                <ul class="category__list">
                    <li class="category__title"><a routerLink="./recruit/index.html">採用情報</a></li>
                    <li><a routerLink="https://www.taxan.co.jp/jp/recruit/graduate/" target="_blank">新卒採用情報</a></li>
                    <li><a routerLink="./recruit/career.html">中途採用情報</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <ul class="category__list">
                    <li class="category__title"><a routerLink="https://www.taxan.co.jp/jp/ir/" target="_blank">IR（投資家情報）</a></li>
                    <li><a routerLink="https://www.taxan.co.jp/jp/ir/" target="_blank">IR（投資家情報）</a></li>
                    <li><a routerLink="./ir/" target="_blank">決算・適時開示情報</a></li>
                    <li><a routerLink="./ir/" target="_blank">IR新着情報</a></li>
                    <li><a routerLink="./ir/management/" target="_blank">経営方針</a></li>
                    <li><a routerLink="./ir/cg/" target="_blank">コーポレート・ガバナンス</a></li>
                    <li><a routerLink="./ir/event/" target="_blank">IRイベント</a></li>
                    <li><a routerLink="./ir/finance/" target="_blank">業績・財務情報</a></li>
                    <li><a routerLink="./ir/ir_library/" target="_blank">IR資料室</a></li>
                    <li><a routerLink="./ir/stock_bond/" target="_blank">株式・社債情報</a></li>
                    <li><a routerLink="./ir/faq/" target="_blank">よくあるご質問</a></li>
                    <li><a routerLink="./ir/shareholders/shareholders_01.html" target="_blank">個人投資家の皆様へ</a></li>
                    <li><a routerLink="./ir/calendar.html" target="_blank">IRカレンダー</a></li>
                    <li><a routerLink="./ir/irsitemap/" target="_blank">IRサイトマップ</a></li>
                    <li><a routerLink="./ir/ircontact/" target="_blank">IRお問い合わせ</a></li>
                    <li><a routerLink="./ir/disclaimer/" target="_blank">免責事項</a></li>
                    <li><a routerLink="./ir/quote/" target="_blank">株価情報</a></li>
                    <li><a routerLink="http://www.pronexus.co.jp/koukoku/8154/8154.html" target="_blank">電子公告</a></li>
                    <li><a routerLink="./ir/aboutsite/" target="_blank">IRサイトの使い方</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 text-center footer__info">
        <div class="w-100 logo"><img src="../../assets/images/corporate-logo.svg" alt=""></div>
        <div class="w-100 mb-5 info">〒101-8629　東京都千代田区神田松永町20番地 TEL：03-5657-0111／FAX：03-3254-7131</div>
    </div>
    <div class="d-flex justify-content-center footer__menu">
        <a routerLink="./contact/">お問い合わせ</a>
        <a routerLink="./information/sitemap.html">サイトマップ</a>
        <a routerLink="./information/policy.html">プライバシーポリシー</a>
        <a routerLink="./information/about-site.html">当サイトについて</a>
    </div>
    <div class="text-center footer__copyright">© KAGA ELECTRONICS CO.,LTD</div>
</div>