@import 'components/variables';
.top-banner{
    width: 100%;
    height: 38vh;
    max-height: 380px;
    padding: 4vh 7vw 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fade-in .8s ease both;
    background-size: cover;
    @media screen and (max-width: $smart-phone){
        min-height: 280px;
        padding: 90px 20px 20px;
    }
    &__title{
        color: $white;
        font-size: calc(1.1rem + 1vw);
        font-weight: 400;
        letter-spacing: .1em;
        line-height: 1.8em;
        text-shadow: 0 0 6px rgba(0,0,0,.1);
        animation: bottom-in .3s both;
        animation-delay: .1s;
        display: flex;
        flex-direction: column-reverse;
        span{
            font-size: calc(1rem + .5vw);
            line-height: 2.5em;
            margin-bottom: .2em;
            font-weight: 500;
            &::after{
                content: '';
                width: 2.8em;
                height: 2px;
                background: $white;
                margin: .3em .1em;
                display: block;
            }
        }
    }
    span{
        color: $white;
        font-size: 2rem;
    }
    .breadcrumbs{
        display: flex;
        a{
            color: $white;
            font-size: 1.3rem;
            display: block;
            line-height: 1em;
            text-decoration: underline;
            &::after{
                content: '>';
                display: inline-block;
                padding: 0 .4em 0 .3em;
            }
        }
        .active{
            color: $white;
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 1em;
        }
    }
}
/* ==== business field ====*/
.business-des{
    margin-bottom: 70px;
    dt{
        font-size: 1.8rem;
        line-height: 1.7;
        font-weight: 700;
        margin-bottom: 20px;
        @media screen and (max-width: $smart-phone){
            br{
                display: none;
            }
        }
    }
    dd{
        font-size: 1.4rem;
        line-height: 2;
    }
}
.business-point{
    li{
        width: 100%;
        padding: 30px 70px;
        border: 1px solid $blue;
        margin-bottom: 35px;
        @media screen and (max-width: $smart-phone){
            padding: 30px;
        }
        &:nth-child(1) {
            background: url("assets/images/semiconductor/point_num01.png") no-repeat center center;
            background-size: 170px 115px;
        }
        &:nth-child(2){
            background: url('assets/images/semiconductor/point_num02.png') no-repeat center center;
            background-size: 170px 115px;
        }
        &:nth-child(3){
            background: url('assets/images/semiconductor/point_num03.png') no-repeat center center;
            background-size: 170px 115px;
        }
        dt{
            color: $blue;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1;
            text-align: center;
            margin-bottom: 20px;
            @media screen and (max-width: $smart-phone){
                line-height: 1.5em;
            }
        }
        dd{
            font-size: 1.2rem;
            line-height: 2;
        }
        .second-title{
            font-size: 1.8rem;
            font-weight: 400;
            text-align: center;
            margin-bottom: 10px;
            @media screen and (max-width: $smart-phone){
                line-height: 1.5em;
            }
        }
    }
}
.items-link{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: $blue;
    border: 5px solid rgba(255,255,255,.2);
    span{
        color: $white;
        font-size: 1.4rem;
        &:first-child{
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
}
.bottom-link{
    li{
        height: 15vw;
        min-height: 180px;
        @media screen and (max-width: $desktop){
            padding: 0 10px;
            min-height: 150px;
        }
        @media screen and (max-width: $smart-phone){
            height: 150px;
            padding: 0 15px;
            margin-bottom: 10px;
        }
        a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
            border: 2px solid $blue;
            box-shadow: 0 5px 5px rgba(0,0,0,.2);
            @media screen and (max-width: $smart-phone){
                font-size: 1.6rem;
            }
        }
        &:nth-child(1){
            a{
                background: url('assets/images/semiconductor/business_btm_link01.jpg') no-repeat center center;
                background-size: cover;
            }
        }
        &:nth-child(2){
            a{
                background: url('assets/images/semiconductor/business_btm_link02.jpg') no-repeat center center;
                background-size: cover;
            }
        }
        &:nth-child(3){
            a{
                background: url('assets/images/semiconductor/business_btm_link03.jpg') no-repeat center center;
                background-size: cover;
            }
        }
        &:nth-child(4){
            a{
                background: url('assets/images/semiconductor/business_btm_link04.jpg') no-repeat center center;
                background-size: cover;
            }
        }
    }
}

// business field sub page
.product-item{
    &__area{
        font-size: 1.8rem;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 70px;
        @media screen and (max-width: $smart-phone){
            text-align: left;
            margin-bottom: 50px;
        }
    }
    &__title{
        width: 100%;
        background-color: $blue;
        margin-bottom: 30px;
        text-align: center;
        h3{
            color: $white;
            font-size: 2.4rem;
            font-weight: 700;
            text-align: center;
            padding: 11px;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $smart-phone){
            flex-wrap: wrap;
        }
    }
    &__text{
        width: 60%;
        @media screen and (max-width: $smart-phone){
            width: 100%;
            order: 2;
        }
        p{
            line-height: 1.8em;
            margin-bottom: 0;
        }
    }
    &__img{
        width: 35%;
        box-shadow: 0 5px 5px rgba(0,0,0,.2);
        @media screen and (max-width: $smart-phone){
            order: 1;
            width: 100%;
            margin-bottom: 10px;
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}