@import 'components/elements';
@import 'components/variables';
@import 'components/keyframes';
@import 'business-field';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Noto+Sans+JP:300,400,500,700|Roboto+Condensed:400,400i,700,700i&display=swap&subset=japanese');

html {
    font-size: 62.5%;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: calc(1.3rem + .25vw);
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: .1em;
    background-color: $white;
    font-feature-settings: "palt";
    -webkit-font-smoothing: antialiased;
}
ul{
    padding: 0;
    margin: 0;
    li{
        list-style-type: none;
    }
}
a:hover{
    text-decoration: none;
    opacity: .7;
}
img{
    max-width: 100%;
}
/* ==== home page ====*/
#loading-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000000;
    background-color: $yellow;
    animation: avant_bg .3s both;
    animation-timing-function: cubic-bezier(1,.6,.1);
    animation-delay: 1.3s;
    overflow: hidden;
    &::before,
    &::after {
        content: '';
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        bottom: 0;
        animation: avant_bg_anime .3s ease-out both;
    }
    &::before{
        background-color: $dark-yellow;
        animation-delay: .3s;
        z-index: 104;
    }
    &::after{
        background: $dark-yellow;
        animation-delay: .1s;
        z-index: 102;
    }
    span{
        font-family: Helvetica, "メイリオ" , Meiryo;
        font-size: 250px;
        font-weight: bold;
        z-index: 110;
        color: $white;
        &:nth-child(3){
            padding-right: 240px;
            @media screen and (max-width: $desktop){
                padding-right: 180px;
            }
            @media screen and (max-width: $small-device){
                padding-right: 100px;
            }
        }
        &:nth-child(4){
            position: absolute;
            border-bottom: 1px solid white;
            width: 100%;
            text-align: right;
            top: 62%;
            right: 20px;
            /* style only for ie */ 
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                top: 65%; 
            }
            @media screen and (max-width: $large-desktop){
                top: 60%;
            }
            @media screen and (max-width: $desktop){
                top: 58%;
            }
            @media screen and (max-width: $small-device){
                top: 55%;
            }
            img{
                width: 160px;
                transform: scaleX(-1);
                position: absolute;
                z-index: 999;
                right: 0;
                bottom: 0;
                @media screen and (max-width: $large-desktop){
                    width: 135px;
                }
                @media screen and (max-width: $desktop){
                    width: 100px;
                }
                @media screen and (max-width: $small-device){
                    width: 50px;
                }
            }
        }
        @media screen and (max-width: $large-desktop){
            font-size: 180px;
        }
        @media screen and (max-width: $desktop){
            font-size: 140px;
        }
        @media screen and (max-width: $small-device){
            font-size: 80px;
            margin-bottom: 0;
        }
    }
    p{
        color: $dark-blue;
        font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
        font-size: 43px;
        font-weight: 500;
        display: block;
        z-index: 9999;
        position: absolute;
        right: 20px;
        margin-top: 20px;
        top: 60%;
        width: 100%;
        text-align: right;
        padding-top: 20px;
        /* style for only ie */
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            padding-top: 30px;
        }
        @media screen and (max-width: $large-desktop){
            font-size: 34px;
        }
        @media screen and (max-width: $desktop){
            font-size: 25px;
            padding-top: 0px;
        }
        @media screen and (max-width: $smart-phone){
            font-size: 26px;
        }
        @media screen and (max-width: $small-device){
            font-size: 14px;
            top: 55%;
        }
    }
}
.page-load{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .left-nav{
        width: 15vw;
        min-width: 220px;
        height: 100vh;
        position: fixed;
        animation: leftnavi_slide_in .4s ease-out both;
        animation-delay: 0.4s;   
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.69); 
        z-index: 99;
        @media screen and (max-width: $smart-phone) {
            width: 100%;
            min-width: 100%;
            height: 70px;
            padding: 0;
            background-color: $dark-yellow;
            animation-delay: 1.8s;
        }
    }
    .content{
        width: 85vw;
        margin: 0 0 0 15vw;
        @media screen and (max-width: 1466px) and (min-width:  $smart-phone) {
            width: calc(100% - 220px);
            margin: 0 0 0 220px;
        }
        @media screen and (max-width: $smart-phone) {
            width: 100%;
            margin: 0;
        }
    }
    /* button go to top */
    .btn-gotop {
        width: 55px;
        height: 55px;
        position: fixed;
        bottom: 30px;
        right: 5px;
        text-align: center;
        outline: none;
        border: 0;
        color: $white;
        background-color: $dark-yellow;
        border-radius: 50%;
        i{
            font-size: 40px;
        }
    }
}

// sidebar search
.form-search {
    .gsc-results-wrapper-overlay {
        left: 10vw;
        width: 80vw;
        top: 0;
        bottom: 0;
        @media screen and (max-width: $smart-phone) {
            height: 80vh;
            top: 100%;
            bottom: auto;
        }
    }
    .gsc-modal-background-image-visible {
        width: 100vw;
        left: 0;
        @media screen and (max-width: $smart-phone) {
            height: 100vh;
            top: 0;
        }
    }
    .gsc-search-button-v2 {
        padding: 7px 10px;
        margin: -2px 0 0 2px;
        line-height: 1em;
        border-radius: 2px;
        @media screen and (max-width: $smart-phone) {
            margin: 0;
        }
        svg {
            fill: $dark-blue;
        }
    }
    .gsc-control-cse {
        padding: 0;
    }
    .gsib_a {
        line-height: 1em;
        @media screen and (max-width: $smart-phone) {
            padding: 6px 9px;
        }
    }
    .gsst_a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gsc-search-button-v2,
    .gsc-search-button-v2:hover,
    .gsc-search-button-v2:focus{
        border-color: $dark-yellow;
        background-color: $dark-yellow;
        background-image: none;
        filter: none;
    }
    .gsc-control-cse {
        border-color: transparent;
        background-color: transparent;
    }
    .gsc-input {
        padding-right: 5px !important;
    }
    .gsc-input-box {
        padding: 0;
        border-radius: 2px;
    }
    @media screen and (max-width: $smart-phone) {
        .gsc-input-box,
        .gsc-control-cse {
            padding: 0; 
        }
        .gsc-input {
            padding-right: 12px !important;
        }
    }
}

/* Custom style breadcrumb */
.xng-breadcrumb-root{
    color: $white !important;
}
.xng-breadcrumb-trail{
    color: $white !important;
}
.xng-breadcrumb-separator{
    display: none !important;
}
.xng-breadcrumb-link{
    &::after{
        content: '>';
        display: inline-block;
        padding: 0 .4em 0 .3em;
    }
    &:hover{
        color: $white;
        text-decoration: none !important;
    }
}