<div class="content">

    <!-- Business Header -->
    <app-business-header></app-business-header>

    <!-- remittance Header -->
    <div class="remittance-header bg-darkyellow">
        <div class="row">
            <div class="col-12">
                <h3 class="title-border">{{ 'remittance.title' | translate }}</h3>
            </div>
            <div class="col-12">
                <div class="sub-title"> 
                    <span>{{ 'remittance.sub-title' | translate }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- remittance Content -->
    <div class="remittance content__wrap bg-lightblue">
        <div class="content-section">
            <h3 class="step-title">{{ 'remittance.flow.title' | translate }}</h3>
            <!-- remittance Step -->
            <ul class="scene">
                <li>
                    <div class="scene-circle">
                        <span>{{ 'exchange.step' | translate }}</span>01
                    </div>
                    <div class="scene-text">{{ 'remittance.flow.step-1' | translate }}</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>{{ 'exchange.step' | translate }}</span>02
                    </div>
                    <div class="scene-text">{{ 'remittance.flow.step-2' | translate }}</div>
                </li>
            </ul>
            <!-- Section 01 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            {{ 'remittance.step-1.title' | translate }}
                        </dt>
                        <dd>
                            <p>{{ 'remittance.step-1.des-1' | translate }}</p>
                            <p>{{ 'remittance.step-1.des-2' | translate }}</p>
                            <p>{{ 'remittance.step-1.des-3' | translate }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 02 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            {{ 'remittance.step-2.title' | translate }}
                        </dt>
                        <dd>
                            <p>{{ 'remittance.step-2.des' | translate }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
        </div>
    </div>
</div>