<!-- Page Emc Team -->
<div class="content">

    <!-- About Header -->
    <app-about-header></app-about-header>

    <!-- Page content -->
    <div class="content__pagetitle">
        <h3 class="main-title">{{'team.title' | translate}}</h3>
    </div>
    <div class="team content__wrap">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-5 mb-5 team--block">
                <div class="text-center team--thumb mb-4">                            
                    <img src="../../../assets/images/imgAvailable.png" alt="{{'team.member.shungo-kubo.name' | translate}}">                            
                </div>
                <div class="text-center team--detail">
                    <h3>{{'team.member.shungo-kubo.name' | translate}}</h3>
                    <p>{{'team.member.shungo-kubo.des-1' | translate}}</p>
                    <div class="more">
                        <p>{{'team.member.shungo-kubo.des-2' | translate}}</p>
                        <p>{{'team.member.shungo-kubo.des-3' | translate}}</p>
                        <p>{{'team.member.shungo-kubo.des-4' | translate}}</p>
                        <p>{{'team.member.shungo-kubo.des-5' | translate}}</p>
                        <p>{{'team.member.shungo-kubo.des-6' | translate}}</p>
                    </div>
                    <span class="button-more"></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-5 mb-5 team--block">
                <div class="text-center team--thumb mb-4">                            
                    <img src="../../../assets/images/imgAvailable.png" alt="{{'team.member.hisashi-kubo.name' | translate}}">                            
                </div>
                <div class="text-center team--detail">
                    <h3>{{'team.member.hisashi-kubo.name' | translate}}</h3>
                    <p>{{'team.member.hisashi-kubo.des-1' | translate}}</p>
                    <div class="more">
                        <p>{{'team.member.hisashi-kubo.des-2' | translate}}</p>
                        <p>{{'team.member.hisashi-kubo.des-3' | translate}}</p>
                    </div>
                    <span class="button-more"></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-5 mb-5 team--block">
                <div class="text-center team--thumb mb-4">                            
                    <img src="../../../assets/images/imgAvailable.png" alt="{{'team.member.hak-heang.name' | translate}}">                            
                </div>
                <div class="text-center team--detail">
                    <h3>{{'team.member.hak-heang.name' | translate}}</h3>
                    <p>{{'team.member.hak-heang.des-1' | translate}}</p>
                    <div class="more">
                        <p>{{'team.member.hak-heang.des-2' | translate}}</p>
                    </div>
                    <span class="button-more"></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-5 mb-5 team--block">
                <div class="text-center team--thumb mb-4">                            
                    <img src="../../../assets/images/imgAvailable.png" alt="{{'team.member.chum-hak.name' | translate}}">                            
                </div>
                <div class="text-center team--detail">
                    <h3>{{'team.member.chum-hak.name' | translate}}</h3>
                    <p>{{'team.member.chum-hak.des-1' | translate}}</p>
                    <div class="more">
                        <p>{{'team.member.chum-hak.des-2' | translate}}</p>
                        <p>{{'team.member.chum-hak.des-3' | translate}}</p>
                        <p>{{'team.member.chum-hak.des-4' | translate}}</p>
                        <p>{{'team.member.chum-hak.des-5' | translate}}</p>
                    </div>
                    <span class="button-more"></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-5 mb-5 team--block">
                <div class="text-center team--thumb mb-4">                            
                    <img src="../../../assets/images/imgAvailable.png" alt="{{'team.member.ouch-makara.name' | translate}}">                            
                </div>
                <div class="text-center team--detail">
                    <h3>{{'team.member.ouch-makara.name' | translate}}</h3>
                    <p>{{'team.member.ouch-makara.des-1' | translate}}</p>
                    <div class="more">
                        <p>{{'team.member.ouch-makara.des-2' | translate}}</p>
                        <p>{{'team.member.ouch-makara.des-3' | translate}}</p>
                    </div>
                    <span class="button-more"></span>
                </div>
            </div>
        </div>
    </div>
</div>