<!-- Page Emc Team -->
<div class="content">

    <!-- About Header -->
    <app-about-header></app-about-header>

    <!-- Page content -->
    <div class="content__pagetitle">
        <h3 class="main-title">{{'team.title' | translate}}</h3>
    </div>
    <div class="team content__wrap">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 team--block">
                <div class="h-100 bg-lightYellow">
                    <div class="text-center team--thumb px-5 mb-4">                      
                        <img src="../../../assets/images/team/Shungo.jpg" alt="{{'team.member.shungo-kubo.name' | translate}}">                            
                    </div>
                    <div class="team--detail">
                        <h3 class="text-center"><span>{{'team.member.shungo-kubo.name' | translate}}</span></h3>
                        <p class="position">{{'team.member.shungo-kubo.des-1' | translate}}</p>
                        <div class="more">
                            <p>{{'team.member.shungo-kubo.des-2' | translate}}</p>
                            <p>{{'team.member.shungo-kubo.des-3' | translate}}</p>
                            <p>{{'team.member.shungo-kubo.des-4' | translate}}</p>
                            <p>{{'team.member.shungo-kubo.des-5' | translate}}</p>
                            <p>{{'team.member.shungo-kubo.des-6' | translate}}</p>
                            <p>{{'team.member.shungo-kubo.des-7' | translate}}</p>
                            <p>{{'team.member.shungo-kubo.des-8' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 team--block">
                <div class="h-100 bg-lightYellow">
                    <div class="text-center team--thumb px-5 mb-4">                            
                        <img src="../../../assets/images/team/Hisashi.jpg" alt="{{'team.member.hisashi-kubo.name' | translate}}">                            
                    </div>
                    <div class="team--detail">
                        <h3 class="text-center"><span>{{'team.member.hisashi-kubo.name' | translate}}</span></h3>
                        <p class="position">{{'team.member.hisashi-kubo.des-1' | translate}}</p>
                        <div class="more">
                            <p>{{'team.member.hisashi-kubo.des-2' | translate}}</p>
                            <p>{{'team.member.hisashi-kubo.des-3' | translate}}</p>
                            <p>{{'team.member.hisashi-kubo.des-4' | translate}}</p>
                            <p>{{'team.member.hisashi-kubo.des-5' | translate}}</p>
                            <p>{{'team.member.hisashi-kubo.des-6' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 team--block">
                <div class="h-100 bg-lightYellow">
                    <div class="text-center team--thumb px-5 mb-4">                            
                        <img src="../../../assets/images/team/Heang.jpg" alt="{{'team.member.heang.name' | translate}}">                            
                    </div>
                    <div class="team--detail">
                        <h3 class="text-center"><span>{{'team.member.heang.name' | translate}}</span></h3>
                        <p class="position">{{'team.member.heang.des-1' | translate}}</p>
                        <div class="more">
                            <p>{{'team.member.heang.des-2' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 team--block">
                <div class="h-100 bg-lightYellow">
                    <div class="text-center team--thumb px-5 mb-4">                            
                        <img src="../../../assets/images/team/Hak.jpg" alt="{{'team.member.hak.name' | translate}}">                            
                    </div>
                    <div class="team--detail">
                        <h3 class="text-center"><span>{{'team.member.hak.name' | translate}}</span></h3>
                        <p class="position">{{'team.member.hak.des-1' | translate}}</p>
                        <div class="more">
                            <p>{{'team.member.hak.des-2' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 team--block">
                <div class="h-100 bg-lightYellow">
                    <div class="text-center team--thumb px-5 mb-4">                            
                        <img src="../../../assets/images/team/Makara.jpg" alt="{{'team.member.makara.name' | translate}}">                            
                    </div>
                    <div class="team--detail">
                        <h3 class="text-center"><span>{{'team.member.makara.name' | translate}}</span></h3>
                        <p class="position">{{'team.member.makara.des-1' | translate}}</p>
                        <div class="more">
                            <p>{{'team.member.makara.des-2' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>