<div class="content">
    <app-business-header></app-business-header>
    <div class="rental-header bg-darkyellow">
        <div class="row">
            <div class="col-12">
                <h3 class="title-border">旅行代理店（国内ツアー）</h3>
            </div>
            <div class="col-12">
                <div class="sub-title"> 
                    <span>未定</span>
                </div>
            </div>
        </div>
    </div>
    <div class="rental content__wrap bg-lightblue">
        <div class="content-section">
            <h3 class="step-title">未定</h3>
            <ul class="scene">
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>01
                    </div>
                    <div class="scene-text">未定</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>02
                    </div>
                    <div class="scene-text">未定</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>03
                    </div>
                    <div class="scene-text">未定</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>04
                    </div>
                    <div class="scene-text">未定</div>
                </li>
            </ul>
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                                未定
                        </dt>
                        <dd>
                            <p>未定</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            未定
                        </dt>
                        <dd>
                            <p>未定</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            未定
                        </dt>
                        <dd>
                            <p>未定</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            未定
                        </dt>
                        <dd>
                            <p>未定</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
        </div>
    </div>
</div>