<div class="content">
    <app-about-header></app-about-header>
    <div class="content__pagetitle">
        <h3 class="title-gray">加賀電子とは</h3>
    </div>
    <div class="story bg-lightblue">
        <ul class="row no-gutters">
            <li class="col-lg-3 col-12">
                <a routerLink="/about" fragment="story01"><p><span>KAGA STORY</span>01</p>加賀電子50年の歴史</a>
            </li>
            <li class="col-lg-3 col-12">
                <a routerLink="/about" fragment="story02"><p><span>KAGA STORY</span>02</p>加賀電子の行動指針</a>
            </li>
            <li class="col-lg-3 col-12">
                <a routerLink="/about" fragment="story03"><p><span>KAGA STORY</span>03</p>加賀電子の<br class="d-lg-block d-none">グローバリゼーション</a>
            </li>
            <li class="col-lg-3 col-12">
                <a routerLink="/about" fragment="story04"><p><span>KAGA STORY</span>04</p>創業者・代表取締役会長<br class="d-lg-block d-none">メッセージ</a>
            </li>
        </ul>
        <div class="story__content trigger" id="story01" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
            <div class="story__inner">
                <div class="story__title">
                    <p class="id">KAGA STORY_01</p>
                    <p>資本金、１００万円。</p>
                    <p>オフィス、約２坪</p>
                    <p>創業以来、なんでも屋。</p>
                </div>
                <p class="mb-0 story__text" data-aos="fade-up">
                    1968年、加賀電子は資本金100万円、約2坪の小さな事務所から出発しました。実績もお金も在庫もないから、とにかく御用聞きに回りました。お客様のご要望を聞いて先にお金をお預かりし、目と耳と足をフル回転させてご希望のものを揃える。お客様の大切な仕事のために必要な部品だから、いちばん良いものをいち早く届けようと、時代の風を読み、伝手をたどり、未知の領域をも恐れず飛び込んで、小さなICチップ一つから調達してお持ちしました。時代の最先端技術が集まる秋葉原の地で、「加賀電子に任せたら何とかなる」とお客様からいつでも頼ってもらえるなんでも屋として、どんなときにも誠実に応えられるよう、知識と技術を深め、人脈を広げました。下剋上の激しいエレクトロニクス業界の中で、加賀電子が50年ものあいだ事業を続け、業界トップクラスの規模まで事業を大きくすることができたのも、お客様が私達を全面的に信頼してくださり、御用聞きの力を認めてくださったからです。「ありがとう。助かった」「これは活用できそうだ」「次も頼むよ」。このようなお客様の声が、加賀電子の原動力です。
                </p>
                <p class="link"><a routerLink="history">加賀電子 50 年の歴史　会社沿革</a></p>
            </div>
        </div>
        <div class="story__content trigger" id="story02" data-aos="fade-up" data-aos-delay="50">
            <div class="story__inner">
                <div class="story__title">
                    <p class="id">KAGA STORY_02</p>
                    <p>「ノー」と言わない。</p>
                    <p>お客様にも、</p>
                    <p>社員たちの提案にも。</p>
                </div>
                <p class="mb-0 story__text" data-aos="fade-up">
                    お客様が困っているから絶対にあきらめない。どんなご要望も必ず適えてみせる。加賀電子は、お客様が自社ではできないところを任せていただき、仕事が上手く進むよう陰で支える黒子です。部品が欲しいと言われたら最高の品を探し出す。他の部品も一緒に欲しいと言われたら最先端の技術を見つけ出す。いろいろ頼まれればキットにしてお納めする。知見のない領域であれば人を見つけ、巻き込んで開拓します。お客様と向き合う社員一人ひとりが持ち味を活かし、アグレッシブに領域を広げられるよう、新規事業の提案にも果敢にチャレンジさせます。人は、任されると応えようとする。責任を持ってやり遂げるものなのです。今では、半導体・電子部品やEMS、情報通信・セキュリティ、アミューズメント、スポーツ、環境、医療・ヘルスケアと、ほぼすべての業界のどこかで、加賀電子が調達した部品や製造した製品、開発した技術が使われるようになっています。秋葉原で鍛えられた業界最強の黒子として、お客様からのどんなご要望にも即座にお応えできるよう、60超のグループ企業のネットワークを活かし、最良のビジネスの種をご提案していきます。
                </p>
                <p class="link"><a routerLink="history">企業理念</a></p>
            </div>
        </div>
        <div class="story__content trigger" id="story03" data-aos="fade-up" data-aos-delay="50">
            <div class="story__inner">
                <div class="story__title">
                    <p class="id">KAGA STORY_03</p>
                    <p>ものづくりを支える。</p>
                    <p>ビジネスを変える。</p>
                    <p>加賀電子は、世界を結ぶ。</p>
                </div>
                <p class="mb-0 story__text" data-aos="fade-up">
                    成長の始まりはオイルショックの影響で輸出が急増したCBトランシーバーからでした。その後、インベーダーゲーム、ファミコンなど、次々と一世を風靡する商品が現れ、その中に使われる半導体や電子部品の技術開発が進みます。半導体は「産業のコメ」とも言われ、パソコンや携帯電話、家電製品、車載製品、デジタルカメラなど、あらゆる製品に組み込まれ、現代社会に不可欠なものです。部品調達は何よりスピードが命。最先端の技術や知識、開発・研究の動向を押さえ、世界中を飛び回って情報を集め、人脈を広げます。お客様のご要望に対して常に最新情報をお届けし、新たな知見でビジネスを広げていただけるよう、企画・開発から調達・製造、そして販売・アフターサービスまで、かゆいところに手が届くワンストップサービスをご提供します。加賀電子が展開するEMSビジネスのグローバルネットワークは、日本を起点に、中国、タイ、マレーシア、インドネシア、ベトナム、チェコ、メキシコと世界10カ国、19拠点に広がり、すべての拠点で日本品質を提供しています。エレクトロニクス業界の最先端を行く水先案内人として、お客様のビジネスを成功に導くベストパートナーとして、秋葉原で培ったノウハウと交渉力を活かしてまいります。
                </p>
                <p class="link"><a routerLink="base">営業所情報 <br class="d-lg-none d-block">加賀電子のグローバリゼーション</a></p>
            </div>
        </div>
        <div class="story__content trigger" id="story04" data-aos="fade-up" data-aos-delay="50">
            <div class="story__inner">
                <div class="story__title">
                    <p class="id">KAGA STORY_04</p>
                    <p>目指すは１兆円企業。</p>
                    <p>世界最強の黒子企業は</p>
                    <p>さらなる高みへ。</p>
                </div>
                <p class="mb-0 story__text" data-aos="fade-up">
                    加賀電子が目指す頂は、グローバル競争に勝ち残る最強の黒子です。わたしたち加賀電子は、お客様とともに、お取引先様とともに、社員とともに、挑戦し続けてきました。時代の荒波にもまれながら、ひたすらお客様の声を聞き、次の波を感じ取って自在に姿形を変え、仲間を増やして成長しました。50年前、秋葉原に2坪の事務所でスタートした会社は現在、60余りのグループ企業を連ね、連結売上高5,000億円に迫るまでになりました。これからも時代は次々と分岐点を迎え、変化を加速させることでしょう。加賀電子グループは、世の中に役立ってこその成長と信じ、誰よりも早く技術の進化や嗜好の流れをつかみ、果敢に吸収する精神で「我が国業界No1」を目指します。ベンチャー企業への投資により柔軟でユニークな発想や高い技術を得、M&Aで仲間を増やしてビジネス領域を広げ、ネットワークを強化し、新たなイノベーションを創出します。自動運転技術や仮想現実、通信セキュリティ、環境保全や医療福祉など、あらゆる領域で世の中を支える世界最強の黒子となり、売上高兆円規模の世界の競合とも伍して戦える「グローバル競争に勝ち残る企業」を目指します。
                </p>
                <p class="link"><a routerLink="founder">創業者が語るストーリー <br class="d-lg-none d-block">創業者紹介</a></p>
            </div>
        </div>
    </div>
</div>
