<div class="content">
    <app-about-header></app-about-header>
    <div class="w-100 text-center bg-gray007">
        <h3 class="pagetitle">加賀電子とは</h3>
    </div>
    <div class="story bg-lightblue">
        <ul class="row no-gutters">
            <li class="col-lg-3 col-12">
                <a href="#story01"><p><span>KAGA STORY</span>01</p>加賀電子50年の歴史</a>
            </li>
            <li class="col-lg-3 col-12">
                <a href="#story02"><p><span>KAGA STORY</span>02</p>加賀電子の行動指針</a>
            </li>
            <li class="col-lg-3 col-12">
                <a href="#story03"><p><span>KAGA STORY</span>03</p>加賀電子の<br class="sm">グローバリゼーション</a>
            </li>
            <li class="col-lg-3 col-12">
                <a href="#story04"><p><span>KAGA STORY</span>04</p>創業者・代表取締役会長<br class="sm">メッセージ</a>
            </li>
        </ul>
        <div class="story__content trigger story01" id="story01">
            <div class="story__inner">
                <div class="story__title">
                    <p class="id">KAGA STORY_01</p>
                    <p>資本金、１００万円。</p>
                    <p>オフィス、約２坪。</p>
                    <p>創業以来、なんでも屋。</p>
                </div>
                <p class="story__text" data-aos="fade-up">
                    1968年、加賀電子は資本金100万円、約2坪の小さな事務所から出発しました。実績もお金も在庫もないから、とにかく御用聞きに回りました。お客様のご要望を聞いて先にお金をお預かりし、目と耳と足をフル回転させてご希望のものを揃える。お客様の大切な仕事のために必要な部品だから、いちばん良いものをいち早く届けようと、時代の風を読み、伝手をたどり、未知の領域をも恐れず飛び込んで、小さなICチップ一つから調達してお持ちしました。時代の最先端技術が集まる秋葉原の地で、「加賀電子に任せたら何とかなる」とお客様からいつでも頼ってもらえるなんでも屋として、どんなときにも誠実に応えられるよう、知識と技術を深め、人脈を広げました。下剋上の激しいエレクトロニクス業界の中で、加賀電子が50年ものあいだ事業を続け、業界トップクラスの規模まで事業を大きくすることができたのも、お客様が私達を全面的に信頼してくださり、御用聞きの力を認めてくださったからです。「ありがとう。助かった」「これは活用できそうだ」「次も頼むよ」。このようなお客様の声が、加賀電子の原動力です。
                </p>
                <p class="link"><a href="history.html">加賀電子 50 年の歴史　会社沿革</a></p>
            </div>
        </div>

        <div class="story__content trigger story01" id="story01">
            <div class="story__inner">
                <div class="story__title">
                    <p class="id">KAGA STORY_01</p>
                    <p>資本金、１００万円。</p>
                    <p>オフィス、約２坪。</p>
                    <p>創業以来、なんでも屋。</p>
                </div>
                <p class="story__text" data-aos="fade-up">
                    1968年、加賀電子は資本金100万円、約2坪の小さな事務所から出発しました。実績もお金も在庫もないから、とにかく御用聞きに回りました。お客様のご要望を聞いて先にお金をお預かりし、目と耳と足をフル回転させてご希望のものを揃える。お客様の大切な仕事のために必要な部品だから、いちばん良いものをいち早く届けようと、時代の風を読み、伝手をたどり、未知の領域をも恐れず飛び込んで、小さなICチップ一つから調達してお持ちしました。時代の最先端技術が集まる秋葉原の地で、「加賀電子に任せたら何とかなる」とお客様からいつでも頼ってもらえるなんでも屋として、どんなときにも誠実に応えられるよう、知識と技術を深め、人脈を広げました。下剋上の激しいエレクトロニクス業界の中で、加賀電子が50年ものあいだ事業を続け、業界トップクラスの規模まで事業を大きくすることができたのも、お客様が私達を全面的に信頼してくださり、御用聞きの力を認めてくださったからです。「ありがとう。助かった」「これは活用できそうだ」「次も頼むよ」。このようなお客様の声が、加賀電子の原動力です。
                </p>
                <p class="link"><a href="history.html">加賀電子 50 年の歴史　会社沿革</a></p>
            </div>
        </div>
    </div>
</div>
