<div class="content">
    <app-about-header></app-about-header>
    <div class="content__pagetitle">
        <h3 class="title-gray">加賀電子とは</h3>
    </div>
    <div class="story bg-lightblue">
        <ul class="row no-gutters">
            <li class="col-lg-3 col-12">
                <a routerLink="#story01"><p><span>KAGA STORY</span>01</p>加賀電子50年の歴史</a>
            </li>
            <li class="col-lg-3 col-12">
                <a routerLink="#story02"><p><span>KAGA STORY</span>02</p>加賀電子の行動指針</a>
            </li>
            <li class="col-lg-3 col-12">
                <a routerLink="#story03"><p><span>KAGA STORY</span>03</p>加賀電子の<br class="d-lg-block d-none">グローバリゼーション</a>
            </li>
            <li class="col-lg-3 col-12">
                <a routerLink="#story04"><p><span>KAGA STORY</span>04</p>創業者・代表取締役会長<br class="d-lg-block d-none">メッセージ</a>
            </li>
        </ul>
        <div class="story__content trigger story01" id="story01">
            <div class="story__inner">
                <div class="story__title">
                    <p class="id">KAGA STORY_01</p>
                    <p>資本金、１００万円。</p>
                    <p>オフィス、約２坪。</p>
                    <p>創業以来、なんでも屋。</p>
                </div>
                <p class="mb-0 story__text" data-aos="fade-up">
                    1968年、加賀電子は資本金100万円、約2坪の小さな事務所から出発しました。実績もお金も在庫もないから、とにかく御用聞きに回りました。お客様のご要望を聞いて先にお金をお預かりし、目と耳と足をフル回転させてご希望のものを揃える。お客様の大切な仕事のために必要な部品だから、いちばん良いものをいち早く届けようと、時代の風を読み、伝手をたどり、未知の領域をも恐れず飛び込んで、小さなICチップ一つから調達してお持ちしました。時代の最先端技術が集まる秋葉原の地で、「加賀電子に任せたら何とかなる」とお客様からいつでも頼ってもらえるなんでも屋として、どんなときにも誠実に応えられるよう、知識と技術を深め、人脈を広げました。下剋上の激しいエレクトロニクス業界の中で、加賀電子が50年ものあいだ事業を続け、業界トップクラスの規模まで事業を大きくすることができたのも、お客様が私達を全面的に信頼してくださり、御用聞きの力を認めてくださったからです。「ありがとう。助かった」「これは活用できそうだ」「次も頼むよ」。このようなお客様の声が、加賀電子の原動力です。
                </p>
                <p class="link"><a routerLink="history">加賀電子 50 年の歴史　会社沿革</a></p>
            </div>
        </div>

        <div class="story__content trigger story01" id="story02">
            <div class="story__inner">
                <div class="story__title">
                    <p class="id">KAGA STORY_02</p>
                    <p>「ノー」と言わない。</p>
                    <p>お客様にも、</p>
                    <p>社員たちの提案にも。</p>
                </div>
                <p class="mb-0 story__text" data-aos="fade-up">
                    お客様が困っているから絶対にあきらめない。どんなご要望も必ず適えてみせる。加賀電子は、お客様が自社ではできないところを任せていただき、仕事が上手く進むよう陰で支える黒子です。部品が欲しいと言われたら最高の品を探し出す。他の部品も一緒に欲しいと言われたら最先端の技術を見つけ出す。いろいろ頼まれればキットにしてお納めする。知見のない領域であれば人を見つけ、巻き込んで開拓します。お客様と向き合う社員一人ひとりが持ち味を活かし、アグレッシブに領域を広げられるよう、新規事業の提案にも果敢にチャレンジさせます。人は、任されると応えようとする。責任を持ってやり遂げるものなのです。今では、半導体・電子部品やEMS、情報通信・セキュリティ、アミューズメント、スポーツ、環境、医療・ヘルスケアと、ほぼすべての業界のどこかで、加賀電子が調達した部品や製造した製品、開発した技術が使われるようになっています。秋葉原で鍛えられた業界最強の黒子として、お客様からのどんなご要望にも即座にお応えできるよう、60超のグループ企業のネットワークを活かし、最良のビジネスの種をご提案していきます。
                </p>
                <p class="link"><a routerLink="history">企業理念</a></p>
            </div>
        </div>
    </div>
</div>
