<div class="content">
    <div class="about">
        <h2 class="about__title">会社情報<span>COMPANY</span></h2>
        <ul id="about-breadcrumbs" class="about__breadcrumbs">
            <li><a href="/jp/">HOME</a></li>
            <li><a href="/jp/company/">会社情報</a></li>
            <li class="active">加賀電子とは</li>
        </ul>
    </div>
    <div class="w-100 text-center bg-gray007">
        <h3 class="pagetitle">創業者が語るストーリー</h3>
    </div>
    <div class="founder">
        <div class="founder__banner story-title">
            <p class="founder__banner--text">創業時の想い、</p>
            <p class="founder__banner--text">加賀電子が加賀電子たる由縁。</p>
            <div class="founder__banner--name">
                <p>代表取締役会長<span>塚本 勲</span></p>
                <span>Isao Tsukamoto, Founder & CEO</span>
            </div>
        </div>
        <div class="founder__wrap bg-lightblue">
            <div class="founder__wrap--accordion">
                <div class="accordion-title">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2 col-10 founder-story">
                                <span>KAGA</span>
                                <span>ELECTRONICS</span>
                                <span>STORY</span>
                            </div>
                            <div class="col-sm-2 col-2">01</div>
                            <div class="col-8 col-12">
                                <span class="d-md-inline d-block">ガラス張り経営。</span>
                                <span class="d-md-inline d-block">それが、創業の原点。</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

