<div class="content">
    <app-about-header></app-about-header>
    <div class="content__pagetitle">
        <h3 class="title-gray">創業者が語るストーリー</h3>
    </div>
    <div class="founder">
        <div class="founder__banner">
            <div class="founder__banner--text">
                <p>創業時の想い、</p>
                <p>加賀電子が加賀電子たる由縁。</p>
            </div>
            <div class="founder__banner--name">
                <p>代表取締役会長<span>塚本 勲</span></p>
                <span>Isao Tsukamoto, Founder & CEO</span>
            </div>
        </div>
    </div>
    <div class="founder bg-lightblue">
        <div class="content__wrap p-0 accordion">
            <div class="content-section mb-0" data-aos="fade-up" data-aos-delay="50">
                <div class="row no-gutters">
                    <div class="col-12 accordion__title bg-blue">
                        <div class="row">
                            <div class="col-lg-2 col-sm-6 col-8 founder-story">
                                <span>KAGA</span>
                                <span>ELECTRONICS</span>
                                <span>STORY</span>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-4 founder-number">01</div>
                            <div class="col-lg-8 col-12 founder-title">
                                <p>ガラス張り経営。<span>それが、創業の原点。</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 accordion__content">
                        <div class="row">
                            <div class="col-12">
                                <div class="accordion__content--banner accordion-img01"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-10 mx-auto">
                                <p>生まれは、金沢です。勤勉な父としつけの厳しい母に育てられ、中学まではまじめに勉強して、高校は就職に強い地元の工業高校に進学しました。しかし、
                                実はたった1年で中退しています。当時、私のまわりでは中卒で働く人が多く、自力で給料を稼いでいる姿を見てうらやましく思ったからです。そこで、高校をやめて上京。
                                東京で働いていた叔父に頼んで紹介してもらったのが、可変抵抗器メーカーでした。この会社では、2年ほど組み立て作業を経験したあと、営業を経験させてもらいました。</p>
                                <p>秋葉原にある電子部品商社や、ステレオなどをつくっているセットメーカーに自社商品を売り込むのが主な仕事でしたが、私の性格には営業の仕事が合っていたようです。
                                お客様とお酒を飲んだり、麻雀をしたり、釣りに行ったりして遊んでいるうちに、お客様と仲良くなることができました。問屋さんの知り合いも増えまして、
                                自分たちが扱っている可変抵抗器だけではモノづくりができないということを知りました。そんな風にして過ごしているうちに、何千点もあるという電子部品に興味を持ち、
                                それらすべてを取り扱う仕事ができたらおもしろそうだ、と考えるようになりました。</p>
                                <p>結局、それがきっかけとなって、退社。セールス仲間で独立した方のところへ転職したのですが・・・。
                                わずか半年で辞めてしまいました。というのも、経営状態を一切教えてくれない秘密主義だったからです。なんとなく売り上げはわかるものの、利益がいくら、経費がいくら、ということがすべて秘密。公明正大ではありませんでした。</p>
                                <p>会社はみんなのものだから、数字も全部オープンにすべき。努力した結果、儲かればみんなで山分けする。多少、苦労したときには、みんなにも多少がまんしてもらう。
                                これが本当の経営じゃないか、と思うようになりました。だから、それを実現するために秋葉原で独立した、というのが創業の原点です。ちなみに社名は、創業資金を両親にお願いし、
                                なんとか工面してもらった際に相談したところ、「加賀百万石のように大きくなればよいね」という母からの提案を受け命名することにしました。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 bg-white mx-auto open-accordion">
                        <span class="w-100">MORE</span>
                    </div>
                </div>
            </div>
            <div class="content-section mb-0" data-aos="fade-up" data-aos-delay="50">
                <div class="row no-gutters">
                    <div class="col-12 accordion__title bg-blue">
                        <div class="row">
                            <div class="col-lg-2 col-sm-6 col-8 founder-story">
                                <span>KAGA</span>
                                <span>ELECTRONICS</span>
                                <span>STORY</span>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-4 founder-number">02</div>
                            <div class="col-lg-8 col-12 founder-title">
                                <p>世のため、人のため、<span>そして社員のために。</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 accordion__content">
                        <div class="row">
                            <div class="col-12">
                                <div class="accordion__content--banner accordion-img02"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-10 mx-auto">
                                <p>創業当時、電子部品商社といわれる会社が大小1000社近くありました。それが今はせいぜい200社くらいになりました。
                                ではなぜ私たちが生き残ってこれたかというと、ガラス張り経営にして、社員みんなが経営者意識をもってやってこれたからだと思います。</p>
                                <p>いなくなった会社のトップを見ていると、ほとんどが個人経営でトップだけがいい思いをしている。自分はいい思いをしているけれど、
                                社員には厳しいことを言って利益を還元しない。当時は私よりもよっぽどいい生活をしていた人も多かったのですが、そのあたりの差がでたのかもしれません。
                                やはり、お客様のため、従業員のためという精神がないと企業は長続きしません。世のため、人のためという考えがないとダメだと思っています。</p>
                                <p>もっとも、創業したときは、そんな大層なことを考えていたわけではありませんでした。ところが、会社をはじめてみると、徐々に資金と賛同してくれる人が増えてきて、
                                うちのような小さな会社にも人生を託してくれる仲間が増えたわけです。そうなると責任感が出てきて、どうやって彼らを一人前にするか、幸せをつかませてあげられるかと考えるようになりました。
                                そのためには、まず会社の成績を上げなければならない。でも、何事もひとりでは限界があるから、みんなで一緒になって努力しようよ、となる。その結果が今の姿なのです。
                                ですから、これからも、常に社員に背中を見られているという意識をもって、努力していきたいと思います。</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-8 bg-white mx-auto open-accordion">
                        <span class="w-100">MORE</span>
                    </div>
                </div>
            </div>
            <div class="content-section mb-0" data-aos="fade-up" data-aos-delay="50">
                <div class="row no-gutters">
                    <div class="col-12 accordion__title bg-blue">
                        <div class="row">
                            <div class="col-lg-2 col-sm-6 col-8 founder-story">
                                <span>KAGA</span>
                                <span>ELECTRONICS</span>
                                <span>STORY</span>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-4 founder-number">03</div>
                            <div class="col-lg-8 col-12 founder-title">
                                <p>人脈は無形の財産。<span>在庫は罪の子。</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 accordion__content">
                        <div class="row">
                            <div class="col-12">
                                <div class="accordion__content--banner accordion-img03"></div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-md-8 col-10 mx-auto">
                                <div class="row">
                                    <div class="col-lg-8 col-12 mb-lg-5 mb-0">
                                        会社設立にあたって、電話や机、名刺など、仕事に必要なものをそろえていくと、虎の子の開業資金はあっという間になくなりました。
                                        しかし、幸いにも私には財産がありました。それは営業時代に培った「人脈」という無形の財産です。まずは「加賀電子株式会社　代表取締役」
                                        という名刺をつくって、これまでお付き合いのあった方々にごあいさつをさせていただきました。「部品ひとつからでもかまいません。夜中でも走り回って、
                                        必ずお届けしますから」というと、「そうか、わかった」といって二つ返事で注文を出してくれる方がたくさんいました。頼まれれば何でも取り扱うという便利屋のような仕事でしたが、
                                        仕事があるというのは、本当にありがたい。人の縁の大切さが身にしみました。
                                    </div>
                                    <div class="col-lg-4 col-12 my-lg-0 my-5">
                                        <img src="../../../assets/images/founder/founder-subimg03-1.jpg" alt="">
                                    </div>
                                </div>
                                <p>もうひとつ。お金がないという事実は、思わぬ副産物をもたらしました。それが現在、加賀電子を支えている受・発注のビジネスモデルです。お金がないと余分なものは仕入れられないし、
                                在庫も持てません。つまり、先に注文をもらい、その分を発注するというやり方しか方法が無かったのです。これが在庫を持たないフローの経営、“受・発注の原則”となり、
                                “在庫は罪の子（ざいこはつみのこ）”という言葉も生まれました。在庫を持てば、資金が寝てしまったり、借金をする必要が出てその分の金利がかかる。保管スペースや保険代を含めて、
                                余分な費用がかかるという意味でも何も良いことがないので、罪の子と呼んでいます。これは加賀電子に脈々と流れるDNAになっています。</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-8 bg-white mx-auto open-accordion">
                        <span class="w-100">MORE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

