<div class="content">
    <div class="top-banner">
        <h2 class="top-banner__title">事業紹介<span>BUSINESS</span></h2>
        <div class="w-100 text-center mt-2">
            <span>INFORMATION EQUIPMENT BUSINESS</span>
        </div>
        <ul id="breadcrumbs" class="breadcrumbs">
            <li><a routerLink="/en/">HOME</a></li>
            <li><a routerLink="/en/business/">事業紹介</a></li>
            <li class="active">電子部品・半導体ビジネス</li>
        </ul>
    </div>
    <div class="content__pagetitle">
        <h3 class="title-gray">情報機器ビジネス</h3>
    </div>
    <div class="content__wrap bg-lightblue semiconductor">
        <dl class="business-des">
            <dt>
                PCやPC周辺機器、ストレージ機器の販売、そして電気通信工事からシステム構築まで、ネットワークソリューションのワンストップサービスをお届けします。
            </dt>
            <dd>
                国内外の有名ブランドPCやPC周辺機器をメインに、大手家電量販店やコンビニエンスストア、教育機関など独自の流通チャネルを強みとした販売代理店業務を行っています。また、企業や官公庁向けにLANシステムの構築や情報セキュリティシステムなどの提案のほか、電気・通信設備の敷設や内装工事も可能な体制を整え、ネットワークソリューションに関わるワンストップサービスを実現しています。
            </dd>
        </dl>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="bluetitle-noborder">
                <span>情報機器ビジネスの強み</span>
            </div>
            <ul class="business-point">
                <li>
                    <dl>
                        <dt>豊富な仕入先と販路</dt>
                        <dd class="second-title">信頼と実績のネットワーク。多彩な流通チャネル。</dd>
                        <dd>PCやPC周辺機器などの仕入先、家電量販店や専門店、コンビニエンスストア、一般企業など多様な流通チャネルを保有。黒子として50年培った豊富な販売ノウハウは、レノボ社、バイオ社など、世界の有力ブランド製品の販売代理店として活かされています。</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>ネットワークソリューション</dt>
                        <dd class="second-title">販売からシステム構築まで。ワンストップでご要望に応えます。</dd>
                        <dd>製品の調達や生産だけでなく、LANシステム構築や情報セキュリティシステム導入など、お客様の環境に合わせた電気通信工事からPC・サーバ、アプリケーションソフトの提案など、エレクトロニクスの総合商社ならではのワンストップサービスでご要望を適えます。</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>施工体制の整備</dt>
                        <dd class="second-title">販売にとどまらない全国でのあらゆる施工サービスが可能に。</dd>
                        <dd>永年培ってきた通信の技術力を活かし、現在では、セキュリティ工事、電気工事のほか、LED照明の設置や空調工事、内装工事から建築工事に至るまであらゆる施工技術を備えています。また、全国のパートナー企業と連携した一貫施工体制を構築し、あらゆる施工ニーズに対応しています。</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="bluetitle-noborder">情報機器ビジネスのビジネスフロー</div>
            <img src="../../../assets/images/product-info/information_product_flow_img.png" alt="">
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <a routerLink="information_product_items" class="items-link">
                <span>主な取り扱い品目</span>
                <span>主な取り扱い品目の詳しい情報はコチラから</span>
            </a>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <ul class="row bottom-link">
                <li class="col-lg-3 col-6">
                    <a routerLink="semiconductor">電子部品・<br>半導体ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="ems">EMS<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="product-info">情報機器<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="newbusiness">ニュー<br>ビジネス</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    
