<div class="content">
    <app-about-header></app-about-header>
    <div class="content__pagetitle">
        <h3 class="title-gray">会社概要</h3>
    </div>
    <div class="outline bg-lightblue">
        <div class="content__wrap">
            <div class="content-section">
                <div class="outline__list">
                    <table class="table">
                        <tr>
                            <th>会社名</th>
                            <td>
                                <span class="d-block">加賀電子株式会社</span>
                                <span class="d-block">KAGA ELECTRONICS CO.,LTD.</span>
                            </td>
                        </tr>
                        <tr>
                            <th>所在地</th>
                            <td>〒101-8629　東京都千代田区神田松永町20番地</td>
                        </tr>
                        <tr>
                            <th>TEL</th>
                            <td>03-5657-0111</td>
                        </tr>
                        <tr>
                            <th>FAX</th>
                            <td>03-3254-7131</td>
                        </tr>
                        <tr>
                            <th>事業内容</th>
                            <td>電子部品・半導体の販売からEMS（電子機器の受託開発・製造サービス）、パソコン及びその他周辺機器などの完成品の販売など</td>
                        </tr>
                        <tr>
                            <th>設立</th>
                            <td>1968年9月12日</td>
                        </tr>
                        <tr>
                            <th>資本金</th>
                            <td>121億33百万円</td>
                        </tr>
                        <tr>
                            <th>営業所</th>
                            <td>11拠点</td>
                        </tr>
                        <tr>
                            <th>グループ会社</th>
                            <td>61社（国内17社/海外44社）　2020年4月1日現在</td>
                        </tr>
                        <tr>
                            <th>取締役</th>
                            <td>
                                <dl>
                                    <dt>代表取締役会長</dt>
                                    <dd>塚本 勲</dd>
                                </dl>
                                <dl>
                                    <dt>代表取締役社長</dt>
                                    <dd>門 良一</dd>
                                </dl>
                                <dl>
                                    <dt>専務取締役</dt>
                                    <dd>高橋 信佐</dd>
                                </dl>
                                <dl>
                                    <dt>専務取締役</dt>
                                    <dd>筧 新太郎</dd>
                                </dl>
                                <dl>
                                    <dt>常務取締役</dt>
                                    <dd>川村 英治</dd>
                                    <dd>管理本部長</dd>
                                </dl>
                                <dl>
                                    <dt>取締役</dt>
                                    <dd>俊成 伴伯</dd>
                                    <dd>EMS事業部長</dd>
                                </dl>
                                <dl>
                                    <dt>取締役</dt>
                                    <dd>野原 充弘</dd>
                                    <dd>電子事業部長</dd>
                                </dl>
                                <dl>
                                    <dt>社外取締役</dt>
                                    <dd>三吉 暹</dd>
                                </dl>
                                <dl>
                                    <dt>社外取締役</dt>
                                    <dd>田村 彰</dd>
                                </dl>
                                <dl>
                                    <dt>社外取締役</dt>
                                    <dd>橋本 法知</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <th>監査役</th>
                            <td>
                                <dl>
                                    <dt>常勤監査役</dt>
                                    <dd>亀田 和典</dd>
                                </dl>
                                <dl>
                                    <dt>常勤監査役</dt>
                                    <dd>石井 隆弘</dd>
                                </dl>
                                <dl>
                                    <dt>社外監査役</dt>
                                    <dd>橘内 進</dd>
                                </dl>
                                <dl>
                                    <dt>社外監査役</dt>
                                    <dd>佐藤 陽一</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <th>執行役員</th>
                            <td>
                                <dl>
                                    <dt>上席執行役員</dt>
                                    <dd>池田 光仁</dd>
                                    <dd>
                                        <span>加賀ソルネット株式会社</span>
                                        <span>代表取締役社長</span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>関 祥治</dd>
                                    <dd>
                                        <span>加賀スポーツ株式会社</span>
                                        <span>代表取締役社長</span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>鈴木 啓起</dd>
                                    <dd>特機事業部長</dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>塚本 剛</dd>
                                    <dd>
                                        <span>富士通エレクトロニクス株式会社</span>
                                        <span>取締役執行役員専務</span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>岡部 剛男</dd>
                                    <dd>中国統括</dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>丸山 博昭</dd>
                                    <dd>管理本部副本部長</dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>渡邉 一平</dd>
                                    <dd>通信事業部長</dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>浦澤 貴洋</dd>
                                    <dd>株式会社デジタル・メディア・ラボ代表取締役社長</dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>長坂 浩永</dd>
                                    <dd>アセアン統括</dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>石原 康広</dd>
                                    <dd>
                                        <span>富士通エレクトロニクス株式会社</span>
                                        <span>取締役執行役員常務</span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>鈴木 克敏</dd>
                                    <dd>営業推進事業部長　兼 KAGA（KOREA）ELECTRONICS CO.,LTD.代表取締役社長</dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>江口 聡</dd>
                                    <dd>
                                        <span>加賀マイクロソリューション株式会社</span>
                                        <span>代表取締役社長</span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>熊部 光洋</dd>
                                    <dd>
                                        <span>加賀ソルネット株式会社</span>
                                        <span>代表取締役会長</span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>執行役員</dt>
                                    <dd>糀谷 仁志</dd>
                                    <dd>経営企画室長</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <th>従業員数</th>
                            <td>582名（連結従業員数 6,735名）　2019年12月31日現在</td>
                        </tr>
                        <tr>
                            <th>組織図</th>
                            <td>
                                <ins><a routerLink="https://www.taxan.co.jp/jp/company/pdf/organization-chart.pdf" target="_blank">PDFをご覧ください</a></ins>
                            </td>
                        </tr>
                        <tr>
                            <th>主要株主</th>
                            <td>
                                <ul>
                                    <li>1.株式会社三共</li>
                                    <li>2.株式会社OKOZE</li>
                                    <li>3.日本トラスティ・サービス信託銀行株式会社（信託口）</li>
                                    <li>4.株式会社三菱UFJ銀行</li>
                                    <li>5.加賀電子従業員持株会</li>
                                    <li>6.株式会社みずほ銀行</li>
                                    <li>7.日本マスタートラスト信託銀行株式会社（信託口）</li>
                                    <li>8.塚本勲</li>
                                    <li>9.沖電気工業株式会社</li>
                                    <li>10.GOVERNMENT OF NORWAY</li>
                                </ul>
                                <p class="w-100 text-right">2019年9月30日現在</p>
                            </td>
                        </tr>
                        <tr>
                            <th>主要取引銀行</th>
                            <td>三菱UFJ銀行、みずほ銀行、三井住友銀行、北陸銀行</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="content-section">
                <div class="outline__map">
                    <div class="title-borderleft">
                        <h3>アクセス</h3>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.0240215306508!2d139.7730822147933!3d35.70102648018969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188f87b2c32377%3A0x53e1ef395db9c472!2z5Yqg6LOA6Zu75a2Q5pys56S-44OT44Or!5e0!3m2!1sja!2sjp!4v1583205493192!5m2!1sja!2sjp" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    <div class="outline__map--btn">
                        <a routerLink="https://www.google.com/maps?ll=35.701027,139.775271&amp;z=16&amp;t=m&amp;hl=ja&amp;gl=JP&amp;mapclient=embed&amp;cid=6044375204572546162" target="_blank">Google マップで見る</a>
                        <a routerLink="https://www.taxan.co.jp/jp/company/map_hq.html" target="_blank">地図画像を見る</a>
                    </div>
                    <div class="outline__map--access">
                        <span class="title">交通のご案内</span>
                        <ul>
                            <li>JR「秋葉原」駅 昭和通り口より徒歩5分</li>
                            <li>つくばエクスプレス「秋葉原」駅 A3出口より徒歩4分</li>
                            <li>東京メトロ日比谷線「秋葉原」駅 2番出口より徒歩4分</li>
                            <li>東京メトロ銀座線「末広町」駅 3番出口より徒歩7分</li>
                            <li>都営新宿線「岩本町」駅 A3出口より徒歩7分</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-section">
                <div class="outline__pdf">
                    <div class="title-borderleft">
                        <h3>会社案内</h3>
                    </div>
                    <div class="outline__pdf--btn">
                        <a routerLink="https://www.taxan.co.jp/jp/company/pdf/corporate_profile_jp.pdf" target="_blank">加賀電子株式会社 会社案内</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>