<div class="content">
    <app-about-header></app-about-header>
    <div class="content__pagetitle">
        <h3 class="main-title">会社情報</h3>
    </div>
    <div class="outline content__wrap bg-lightblue">
        <!-- Phylosophy -->
        <div class="content-section">
            <div class="text-center outline__philosophy">
                <h3 class="yellow-title">経営理念</h3>
                <div class="w-100 outline__map--access">
                    <p>我々EMCのサービスを通じて周りの人たちを幸せに。。。</p>
                    <p>縁あって集ったスタッフ、カンボジアに居る外国人在住者が</p>
                    <p>肩の力を抜いて日々を楽しく過ごせるようサポートします！！</p>
                </div>
            </div>
        </div>

        <div class="content-section">
            <div class="outline__list">
                <table class="table table-darkyellow">
                    <tr>
                        <th>会社</th>
                        <td>EMC Motorbike Rental</td>
                    </tr>
                    <tr>
                        <th>所在地</th>
                        <td>#38E0, St.322, BKK1, Chamkarmon, Phnom Penh</td>
                    </tr>
                    <tr>
                        <th>事業内容</th>
                        <td>レンタルスクーター、ビザおよび労働許可証代理申請、外貨両替</td>
                    </tr>
                    <tr>
                        <th>設立</th>
                        <td>2013年11月</td>
                    </tr>
                    <tr>
                        <th>資本金</th>
                        <td>800万円</td>
                    </tr>
                    <tr>
                        <th>グループ会社</th>
                        <td>
                            <p class="mb-0">GREEN ROOT MONEY EXCHANGE CO.,LTD.</p>
                            <p class="mb-0">POPULAR TRAVEL & TOURS</p>  
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="content-section">
            <div class="outline__map">
                <div class="title-borderleft">
                    <h3>アクセス</h3>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15636.07335760034!2d104.923545!3d11.550542!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57d8373682216c7b!2sEMC+Motorbike+Rental!5e0!3m2!1sen!2skh!4v1507966475470" height="500" frameborder="0" style="width:100%;border:0" allowfullscreen=""></iframe>
                <div class="outline__map--btn">
                    <a routerLink="https://www.google.com/maps?ll=35.701027,139.775271&amp;z=16&amp;t=m&amp;hl=ja&amp;gl=JP&amp;mapclient=embed&amp;cid=6044375204572546162" target="_blank">Google マップで見る</a>
                </div>
                <div class="outline__map--access">
                    <span class="title">交通のご案内</span>
                    <p>BKK1 Street 63を南に下り、エリックカイザーの角を曲がってすぐ</p>
                </div>
            </div>
        </div>
    </div>
</div>