@import '../../../assets/scss/components/variables';
.rental-header {
    color: $white;
    padding: 50px 50px 0 50px;
    @media screen and (max-width: $smart-phone) {
        padding: 50px 30px 0 30px;
    }
    .title-border {
        font-size: 3rem;
        border: 1px solid $white;
        padding: 20px;
        margin-bottom: 40px;
        text-align: center;
        @media screen and (max-width: $smart-phone) {
            font-size: 2.2rem;
            padding: 20px 10px;
        }
        @media screen and (max-width: $small-device) {
            font-size: 1.7rem;
        }
    }
    .sub-title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 30px;
        line-height: 1.8;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: $smart-phone) {
            font-size: 2rem;
            display: inline-block;
            text-align: left;
        }
        @media screen and (max-width: $small-device) {
            font-size: 1.7rem;
        }
    }
    .header-desc {
        span {
            font-size: 2.1rem;
            font-weight: 700;
            @media screen and (max-width: $smart-phone) {
                font-size: 1.8rem;
            }
        }
        p {
            font-size: 1.4rem;
            line-height: 1.8;
            margin: 0 auto;
        }
        .table {
            color: $yellow002;
            border: 3px solid $yellow003 !important;
            td{
                width: 50%;
                border: 3px solid $yellow003 !important;
                border-top: 0 !important;
                padding: 30px;
                @media screen and (max-width: $small-device) {
                    padding: 10px;
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.rental {
    .step-title {
        font-family: Roboto;
        font-size: 3.2rem;
        text-align: center;
        color: $dark-yellow;
        letter-spacing: .8vw;
        margin-bottom: 40px;
        @media screen and (max-width: $small-device) {
            font-size: 1.7rem;
        }
    }
    .scene {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        @media screen and (max-width: $tablet) {
            flex-direction: column;
        }
        li {
            width: 15%;
            margin-right: 2%;
            @media screen and (max-width: $tablet) {
                width: 100%;
                display: flex;
                align-items: center;
            }
            .scene-circle {
                width: 80px;
                height: 80px;
                font-size: 3rem;
                border-radius: 50%;
                margin: 0 auto 20px auto;
                background-color: $dark-yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                color: $white;
                span {
                    color: $white;
                    font-size: 1.2rem;
                    display: block;
                }
                &::after {
                    content: '';
                    width: 10vw;
                    height: 1px;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background-color: $dark-yellow;
                    @media screen and (max-width: $tablet) {
                        width: 1px;
                        height: 30px;
                        top: auto;
                        left: 40px;
                        bottom: -30px;
                    }
                }
            }
            &:last-child {
                .scene-circle {
                    &::after {
                        background-color: transparent;
                    }
                }
            }
            .scene-text {
                color: $dark-blue;
                font-size: 1.4rem;
                line-height: 1;
                width: 100%;
                text-align: center;
                @media screen and (max-width: $tablet) {
                    width: calc(100% - 80px);
                    text-align: left;
                    padding-left: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .scene-block {
        border: 1px solid $dark-yellow;
        height: 350px;
        min-height: 350px;
        margin-bottom: 60px;
        display: flex;
        position: relative;
        @media screen and (max-width: $desktop) {
            flex-direction: column;
            height: auto;
            min-height: 100%;
            flex-wrap: wrap;
            margin-bottom: 100px;
        }
        &::after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -40px;
            margin: auto;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $dark-yellow;
        }
        &:last-child {
            &::after {
                border: 0;
            }
        }
        &:nth-of-type(1) {
            .scene-right {
                background: url("../../../assets/images/business/document.jpg") no-repeat center center;
            }
        }
        &:nth-of-type(2) {
            .scene-right {
                background: url("../../../assets/images/business/emc-shop.jpg") no-repeat center center;
            }
        }
        &:nth-of-type(3) {
            .scene-right {
                background: url("../../../assets/images/business/rental.jpg") no-repeat center center;
            }
        }
        .scene-left {
            width: 50%;
            display: flex;
            align-items: center;
            position: relative;
            @media screen and (max-width: $desktop) {
                width: 100%;
            }
            &:before,
            &::after {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                color: $white;
                margin: auto;
                text-align: center;
                position: absolute;
                bottom: 0;
                right: -40px;
                z-index: 1;
                @media screen and (max-width: $desktop) {
                    bottom: auto;
                    right: calc(50% - 40px);
                }
            }
            &::before {
                content: 'STEP';
                background: $dark-yellow;
                top: 0;
                padding-top: 10px;
                font-size: 1.2rem;
                @media screen and (max-width: $desktop) {
                    top: -40px;
                }
            }
            &::after {
                content: '';
                top: 70px;
                font-size: 3rem;
                line-height: .8em;
                @media screen and (max-width: $desktop) {
                    top: -5px;
                }
            }
            dl {
                padding: 20px 10%;
                color: $dark-yellow;
                font-weight: 400;
                @media screen and (max-width: $desktop) {
                    padding: 50px 5% 20px;
                }
            }
            dt {
                font-size: 2.4rem;
                text-align: center;
                margin-bottom: 20px;
                span {
                    font-size: 1.4rem;
                    display: block;
                }
                @media screen and (max-width: $small-device) {
                    font-size: 1.7rem;
                }
            }
            dd {
                font-size: 1.4rem;
                line-height: 1.8;
            }
        }
        .scene-right {
            width: 50%;
            height: 100%;
            background-size: cover !important;
            @media screen and (max-width: $desktop) {
                width: 100%;
                height: 200px;
            }
        }
        @for $i from 1 through 10 {
            &:nth-of-type( #{$i} ) {
                .scene-left::after {
                    content: '0#{$i}';
                }
            }
        }
    }
}