<div class="content">

    <!-- Business Header -->
    <app-business-header></app-business-header>

    <!-- Scooter Rental Header -->
    <div class="rental-header bg-darkyellow">
        <div class="row">
            <div class="col-12">
                <h3 class="title-border">スクーターレンタルサービス</h3>
            </div>
            <div class="col-12">
                <div class="sub-title"> 
                    <span>整備の行き届いたスクーター、安心のアフターケア</span>
                </div>
            </div>
            <div class="col-lg-10 col-12 mx-auto mb-5">
                <div class="header-desc">
                    <table class="table table-bordered bg-white mt-5">
                        <tr>
                            <td class="text-center"><span>プノンペン在住者向け(月貸し)</span></td>
                            <td class="pl-5"><span>60-130ドル</span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><span>ビジネス出張者・旅行者向け(日貸し)</span></td>
                            <td class="pl-5"><span>4-10ドル</span></td>
                        </tr>
                    </table>
                    <p class="mt-3">バイク修理専門学校卒のスタッフによる安心のバイクメンテナンス</p>
                    <p>防犯セキュリティーグッズ完備</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Scooter Rental Content -->
    <div class="rental content__wrap bg-lightblue">
        <div class="content-section">
            <h3 class="step-title">バイクレンタルまでのフロー</h3>

            <!-- Section Step -->
            <ul class="scene">
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>01
                    </div>
                    <div class="scene-text">事前準備</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>02
                    </div>
                    <div class="scene-text">EMCショップ</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>03
                    </div>
                    <div class="scene-text">そのままレンタル</div>
                </li>
            </ul>
            <!-- Section 01 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            下記の必要な書類を手元にご用意ください。
                        </dt>
                        <dd>
                            <p>・パスポート</p>
                            <p>・他に必要なドキュメントがあれば</p>
                            <p>・他に必要なドキュメントがあれば</p>
                            <p>・他に必要なドキュメントがあれば</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 02 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            EMCショップ
                        </dt>
                        <dd>
                            <p>EMCにご来店いただき、連絡したいバイクを選んでいただきます。</p>
                            <p>もし事前にご希望の車種等ございましたら、お問い合わせください。</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 03 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            そのままレンタル
                        </dt>
                        <dd>
                            <p>必要書類を提出していただき、バイクの選定後お支払いをしていただきます。</p>
                            <p>問題がなければ、バイクに乗ってプノンペンを走行していただくことが可能です。</p>
                            <p>ご希望のお客様には、ヘルメットのレンタルも合わせて行なっております。</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
        </div>
    </div>
</div>