<div class="content">
    <app-business-header></app-business-header>
    <div class="rental-header bg-darkyellow">
        <div class="row">
            <div class="col-12">
                <h3 class="title-border">スクーターレンタルサービス</h3>
            </div>
            <div class="col-12">
                <div class="sub-title"> 
                    <span>整備の行き届いたスクーター、安心のアフターケア</span>
                </div>
            </div>
            <div class="col-lg-10 col-12 mx-auto mb-5">
                <div class="header-desc">
                    <span class="d-block">プノンペン在住者向け　　　　月貸し　60-130ドル</span>
                    <span class="d-block">ビジネス出張者・旅行者向け　日貸し　4-10ドル</span>
                    <p class="mt-3">バイク修理専門学校卒のスタッフによる安心のバイクメンテナンス防犯セキュリティーグッズ完備</p>
                </div>
            </div>
            <div class="col-lg-10 col-12 text-center mx-auto">
                <div class="title-buttom">GENERALITY OF KAGA ELECTRONICS</div>
            </div>
        </div>
    </div>
    <div class="rental content__wrap bg-lightblue">
        <div class="content-section">
            <h3 class="step-title">ONE STOP SUPPORT</h3>
            <ul class="scene">
                <li *ngFor="let number of [1,2,3,4,5,6]">
                    <div class="scene-circle">
                        <span>SCENE</span>
                        0{{ number }}
                    </div>
                    <div class="scene-text">コンサルテーション</div>
                </li>
            </ul>
            <div class="scene-block" *ngFor="let number of [1,2,3]">
                <div class="scene-left">
                    <dl>
                        <dt>
                            CONSULTATION
                            <span>コンサルテーション</span>
                        </dt>
                        <dd>プロジェクトを成功に導く鍵は、互いの信頼に支えられたアイデアの広がりと昇華の中にあります。
                        お客様のご要望を徹底的に聞き、その奥に隠れる真の課題を見つけ出して最も効果的な解決策を一緒に考えます。
                        業界最強の黒子として伴走し、お客様のビジネスを支えます。</dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
        </div>
    </div>
</div>