<div class="content">
    <div class="top-banner">
        <h2 class="top-banner__title">事業紹介<span>BUSINESS</span></h2>
        <div class="w-100 text-center mt-2">
            <span>ELECTRONIC COMPONENTS AND SEMICONDUCTOR BUSINESS</span>
        </div>
        <ul id="breadcrumbs" class="breadcrumbs">
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="business">事業紹介</a></li>
            <li class="active">電子部品・半導体ビジネス</li>
        </ul>
    </div>
    <div class="content__pagetitle">
        <h3 class="title-gray">EMSビジネス</h3>
    </div>
    <div class="content__wrap bg-lightblue semiconductor">
        <dl class="business-des">
            <dt>
                多品種・小ロットにも対応できるフレキシブルな生産体制を確立。<br>半完成品から完成品まで、お客様に寄り添って、ご希望の場所でカタチにします。
            </dt>
            <dd>
                中国をはじめアセアンや欧州、さらには米州まで、グローバルに展開する生産工場を活用し、お客様のご希望に合わせた地域で生産できる体制を整えています。製品の設計開発をはじめ、多品種・小ロット生産、半完成品から完成品まで柔軟に対応できるトータルサポート体制を実現しました。また、北米、欧州、アジアなど世界中の仕入先から、お客様に最適な使用部材の代替提案をすることも可能にしています。
            </dd>
        </dl>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="bluetitle-noborder">
                <span>EMSビジネスの強み</span>
            </div>
            <ul class="business-point">
                <li>
                    <dl>
                        <dt>キッティングサービス</dt>
                        <dd class="second-title">「ないものは創る」黒子の矜持。圧倒的な調達力、サポート力。</dd>
                        <dd>独立系総合商社ならではの柔軟さ、豊富な経験からくる組み合わせ力、加工力で、お客様のご要望に最適な商品を調達します。北米、欧州、アジアの仕入先や、世界中に張り巡らせた情報ネットワークにより、ないものも創りあげるご提案につなげます。</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>国内外工場</dt>
                        <dd class="second-title">ご希望の地域へ、必要なものを、最適なタイミングでご提供。</dd>
                        <dd>日本を起点に、中国、アジア、欧州、米州に19の生産拠点を構え、多品種・小ロット生産やさまざまなアプリケーションに対応。ご要望の地域でEMS サービスをご提供します。現地法人によるオペレーション、現地に根ざした信頼のサポート体制で、お待たせすることなく商品をお届けします。</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>トータルサービス体制</dt>
                        <dd class="second-title">設計開発から完成品まで。お客様独自の付加価値をご提案。</dd>
                        <dd>製品の設計開発からシステム構築、基板実装や半完成品、完成品の生産までワンストップで実現。お客様の独自ブランド製品向けのデザインニーズにも対応するなど、付加価値の高い製品を高度な品質管理体制でご提供します。</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="bluetitle-noborder">EMSビジネスのビジネスフロー</div>
            <img src="../../../assets/images/ems/ems_flow_img.png" alt="">
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="bluetitle-noborder">EMS海外生産拠点</div>
            <h5 class="ems-title">アジアエリア</h5>
            <div class="ems-map">
                <img src="../../../assets/images/ems/ems-mapimg01.png" alt="">
            </div>
            <h5 class="ems-title">欧州エリア</h5>
            <div class="ems-map">
                <img src="../../../assets/images/ems/ems-mapimg02.png" alt="">
            </div>
            <h5 class="ems-title">北米エリア</h5>
            <div class="ems-map">
                <img src="../../../assets/images/ems/ems-mapimg03.png" alt="">
            </div>
            <a routerLink="ems_map.html" class="emsmap-btn">EMS海外生産拠点</a>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <a routerLink="semiconductor_items.html" class="items-link">
                <span>主な取り扱い品目</span>
                <span>主な取り扱い品目の詳しい情報はコチラから</span>
            </a>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <ul class="row bottom-link">
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/semiconductor">電子部品・<br>半導体ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/ems">EMS<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/product-info">情報機器<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/newbusiness">ニュー<br>ビジネス</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    
