<div class="content">
    <app-about-header></app-about-header>
    <div class="w-100 text-center bg-gray007">
        <h3 class="pagetitle">企業理念</h3>
        <p class="page-des">スタートは、小さな、小さな事務所でした。そこにひとり、またひとりと仲間が加わり、お客様に提供できる価値も増えていきました。「すべてはお客様のために」という志と、それを実現しようとする姿勢に、共感していただけたのではないかと感じています。そして何より、さまざまなお客様との出会いがあり、今ではグローバルに展開するエレクトロニクスの総合商社へと成長することができました。これからも社員一同、この経営理念を胸に、みなさまの発展を支え続け、豊かで環境にやさしい未来づくりに貢献してまいります。</p>
    </div>
    <div class="philosophy bg-lightblue">
        <div class="philosophy__content">
            <div class="title-borderleft"><h3>経営理念</h3></div>
            <p class="philosophy__bluetitle">すべては<span>お客様のために</span></p>
            <div class="philosophy__section" data-aos="fade-up" data-aos-delay="50">
                <div class="title-borderleft"><h3>行動指針 <span>F.Y.T.（ファイト）</span></h3></div>
                <p>製品や技術の移り変わりの激しい世の中では、お客様のご要望も常に変化しています。しっかりとお応えしていくためには、絶えず先進的な技術を習得し、新しい商品に適したソフトや部品等を取り扱う必要があります。そこで制定した行動指針が「F.Y.T.」です。Fは、世の中の変化に柔軟に対応していく「Flexibility」。Yは「Keep Young」で、業歴や年齢に関係なく、行動力や発想は若くなければいけないということ。そしてTは、常に挑戦しつづけようという意思を込めて「Try」です。F.Y.T.は「ファイト」と読み、「ファイトを持ってみんなでがんばろう」というメッセージになっています。</p>
                <div class="philosophy__list">
                    <ul class="row">
                        <li class="col-lg-4 col-12 d-flex flex-column justify-content-center align-items-center">
                            <p><span>F</span>LEXIBILITY</p>
                            <p class="jp-text">市場の変化への柔軟な対応</p>
                        </li>
                        <li class="col-lg-4 col-12 d-flex flex-column justify-content-center align-items-center">
                            <p><span>Y</span>OUNG</p>
                            <p class="jp-text">発想と行動は常に若々しく</p>
                        </li>
                        <li class="col-lg-4 col-12 d-flex flex-column justify-content-center align-items-center">
                            <p><span>T</span>RY</p>
                            <p class="jp-text">果敢な挑戦を忘れない</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="philosophy__section" data-aos="fade-up" data-aos-delay="50">
                <div class="title-borderleft"><h3>行動指針 <span>3G</span></h3></div>
                <p>お客様が求めるものに、Noとは言わない。必要であれば、世界中から部品を探してきますし、開発のお手伝いをします。その結果、いつの間にか、技術開発部隊を持ち、世界中にネットワークをもつ会社へと成長してまいりました。お客様からいくつもの機会をいただき、それによって成長をとげたグループの力を、今度はまたお客様にお返ししていく。お客様に必要なものであれば何でも扱おう、すべてお応えしよう、という想いをこめて「3G」を制定しました。</p>
                <div class="philosophy__list">
                    <ul class="row">
                        <li class="col-lg-4 col-12 d-flex flex-column justify-content-center align-items-center">
                            <p><span>G</span>ENERAL</p>
                            <p class="jp-text">あらゆるものを</p>
                        </li>
                        <li class="col-lg-4 col-12 d-flex flex-column justify-content-center align-items-center">
                            <p><span>G</span>LOBAL</p>
                            <p class="jp-text">全世界で</p>
                        </li>
                        <li class="col-lg-4 col-12 d-flex flex-column justify-content-center align-items-center">
                            <p><span>G</span>ROUP</p>
                            <p class="jp-text">総合力を活かして</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
