@import '../../assets/scss/components/variables';
.sitemap {
    &__content {
        padding: 50px;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .menu-category {
            width: 48%;
            margin-bottom: 20px;
            border: 1px solid $dark-yellow;
            padding: 20px;
            background-color: rgba(255,255,255,.8);
            box-shadow: 0 2px 4px rgba(0,0,0,.18);
            @media screen and (max-width: $smart-phone) {
                width: 100%;
                padding: 10px;
            }
            li {
                padding-left: 0;
                font-size: 1.6rem;
                line-height: 1.4;
                color: $white;
                &:first-child {
                    border: 1px solid $dark-yellow;
                    background-color: $dark-yellow;
                    padding: 5px;
                    margin-bottom: 10px;
                    font-size: 1.8rem;
                    font-weight: 700;
                    padding-left: 18px;
                    text-align: center;
                    position: relative;
                    a {
                        color: $white;
                        text-align: center;
                        margin: 0;
                        padding: 0;
                        border-bottom: none;
                    }
                }  
                a {
                    color: $dark-yellow;
                    display: block;
                    border-bottom: 1px dashed $black;
                    padding: 10px 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}