<div class="content">
    <app-about-header></app-about-header>
    <div class="sitemap bg-lightblue">
        <div class="sitemap__content">
            <ul class="menu-category">
                <li><a routerLink="">{{ 'menu.top' | translate }}</a></li>
                <li><a routerLink="">EMC</a></li>
                <li><a routerLink="">japanese Shop / KUBOBRO & Khmers</a></li>
                <li><a routerLink="">Business & Services</a></li>
                <li><a routerLink="">Map & Contact (TEL)</a></li>
            </ul>
            <ul class="menu-category">
                <li><a routerLink="">{{ 'menu.about-us' | translate }}</a></li>
                <li><a routerLink="/about/philosophy">Mission / Philosophy</a></li>
                <li><a routerLink="/about/founder">Fonuder Story</a></li>
                <li><a routerLink="/about/outline">Corperate Information & Branch</a></li>
                <li><a routerLink="/about/history">History</a></li>
                <li><a routerLink="">Operational Team</a></li>
            </ul>
            <ul class="menu-category">
                <li><a routerLink="">{{ 'menu.business-field' | translate }}</a></li>
                <li><a routerLink="">Scoter Rental</a></li>
                <li><a routerLink="">Visa & WP</a></li>
                <li><a routerLink="">Current Exchange & ATM Machine</a></li>
                <li><a routerLink="">Travel Agency</a></li>
            </ul>
            <ul class="menu-category">
                <li><a routerLink="">{{ 'menu.blog' | translate }}</a></li>
                <li><a routerLink="">Hisashi</a></li>
                <li><a routerLink="">Shngo</a></li>
            </ul>
        </div>
    </div>
</div>