<div class="content">
    <app-about-header></app-about-header>
    <div class="sitemap bg-lightblue">
        <div class="sitemap__content">
            
            <!-- About Us -->
            <ul class="menu-category">
                <li><a routerLink="/about">{{ 'menu.about-us' | translate }}</a></li>
                <li><a routerLink="/about/outline">{{ 'menu.corperate-info' | translate }}</a></li>
                <li><a routerLink="/about/history">{{ 'menu.history' | translate }}</a></li>
                <li><a routerLink="/about/teams">{{ 'menu.operational-team' | translate }}</a></li>
            </ul>

            <!-- Business Field -->
            <ul class="menu-category">
                <li><a routerLink="/business">{{ 'menu.business-field' | translate }}</a></li>
                <li><a routerLink="/business/scooter-rental">{{ 'menu.scoter-rental' | translate }}</a></li>
                <li><a routerLink="/business/visa">{{ 'menu.visa-wp' | translate }}</a></li>
                <li><a routerLink="/business/exchange">{{ 'menu.current-exchange' | translate }}</a></li>
                <li><a routerLink="/business/travel-agency">{{ 'menu.travel-agency' | translate }}</a></li>
            </ul>

            <!-- Blog -->
            <ul class="menu-category">
                <li><a routerLink="/blog">{{ 'menu.blog' | translate }}</a></li>
                <li><a routerLink="">Hisashi</a></li>
                <li><a routerLink="">Shngo</a></li>
            </ul>
        </div>
    </div>
</div>