@import '../../assets/scss/components/variables';

.contact{
    .yellow-title{
        margin-bottom: 100px;
    }
    ul{
        margin-top: 50px;
        li{
            display: flex;
            @media screen and (max-width: $large-desktop){
                margin-bottom: 80px;
            }
            h2{
                color: $dark-yellow;
            }
            h3{
                font-size: 16px;
            }
            p{
                font-size: 14px;
                margin-bottom: 0;
            }
            .icon{
                width: 90px;
                height: 90px;
                position: absolute;
                top: 0;
                background-color: $yellow;
                border-radius: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                &::before{
                    color: $white;
                    font-family: "Font Awesome 5 Free";
                    font-size: 35px;
                    font-weight:900;
                }
            }
            .location{
                &::before{
                    content: "\f3c5";
                }
            }
            .time{
                &::before{
                    content: "\f017";
                }
            }
            .phone{
                &::before{
                    content: "\f3cd";
                }
            }
            .inner{
                width: 100%;
                background: $light-blue;
            }
        }
    }
    form{
        margin-top: 50px;
        .form-group{
            width: 70%;
            display: flex;
            margin-bottom: 30px;
            @media screen and (max-width: $smart-phone){
                width: 100%;
            }
        }
        label{
            width: 30%;
        }
        input{
            width: 70%;
            border-style: none;
            border-bottom: 1px solid $yellow;
            padding-bottom: 10px;
        }
        textarea{
            width: 70%;
            border-style: none;
            border-bottom: 1px solid $yellow;
        }
        button{
            width: 150px;
            border-style: none;
            border-radius: 18px;
            color: $white;
            background-color: $dark-yellow;
            margin: 50px 0;
        }
    }
}