<div class="content">
    <div class="contact" data-aos="fade-up" data-aos-delay="50">
        <div class="w-100 mb-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15636.07335760034!2d104.923545!3d11.550542!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57d8373682216c7b!2sEMC+Motorbike+Rental!5e0!3m2!1sen!2skh!4v1507966475470" height="500" frameborder="0" style="width:100%;border:0" allowfullscreen=""></iframe>
        </div>
        <div class="content__wrap py-5">
            <div class="content-section" data-aos="fade-up" data-aos-delay="50">
                <h3 class="yellow-title">Contact Us</h3>
                <ul class="row">
                    <li class="col-xl-4 col-12">
                        <div class="p-5 inner">
                            <h2 class="mt-5 text-center">
                                OUR LOCATION
                            </h2>
                            <p class="pl-4">#38E0, St.322, BKK1, Chamkarmon, Phnom Penh BKK1 Street 63を南に下り、エリックカイザーの角を曲がってすぐ</p>
                            <div class="icon location"></div>
                        </div>
                    </li>
                    <li class="col-xl-4 col-12">
                        <div class="p-5 inner">
                            <h2 class="mt-5 text-center">
                                WORKING HOURS
                            </h2>
                            <p class="pl-4"><span class="font-weight-bold">Working Hours:</span> 9AM–5:30PM</p>
                            <div class="icon time"></div>
                        </div>
                    </li>
                    <li class="col-xl-4 col-12">
                        <div class="p-5 inner">
                            <h2 class="mt-5 text-center">
                                PHONE NUMBER
                            </h2>
                            <div class="pl-4">
                                <p>+855 (0)69 499 260 (JPN, ENG)</p>
                                <p>+855 (0)89 518 867 (JPN, ENG)</p>
                            </div>
                            <div class="icon phone"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-section" data-aos="fade-up" data-aos-delay="50">
                <h3 class="yellow-title">Contact Form</h3>
                <form id="contact_form" class="d-flex align-items-center flex-column"
                [formGroup]="contactForm" novalidate (ngSubmit)= "submit()">
                    <div class="form-group">
                        <label for="name"><span class="text-danger">*</span>Name</label>
                        <input name="name" formControlName="name" class="px-3" placeholder="Your Full Name" autocomplete="off">
                        <div *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched" class="px-3 text-danger text-right">
                            <p *ngIf="contactForm.controls['name'].errors.required">Name is required</p>
                            <p *ngIf="contactForm.get('name').hasError('pattern')">Your name must be at least 2 characters</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email"><span class="text-danger">*</span>Email address</label>
                        <input type="email" name="email" formControlName="email" class="px-3" placeholder="Your Email" autocomplete="off">
                        <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched" class="px-3 text-danger text-right">
                            <p *ngIf="contactForm.controls['email'].errors.required">Email is required</p>
                            <p *ngIf="contactForm.get('email').hasError('pattern')" class="text-danger">Email must be a valid email address</p> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone"><span class="text-danger">*</span>Phone Number</label>
                        <input type="tel" maxlength="10" formControlName="phone" name="phone" class="px-3" placeholder="Your Phone Number" autocomplete="off">
                        <div *ngIf="contactForm.controls['phone'].invalid && contactForm.controls['phone'].touched" class="px-3 text-danger text-right">
                            <p *ngIf="contactForm.controls['phone'].errors.required">Phone number is required</p>
                            <ng-template [ngIf]="contactForm.controls['phone'].hasError('minlength') || contactForm.get('phone').hasError('pattern')">
                                <p>Your phone number not correct</p>
                            </ng-template>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject"><span class="text-danger">*</span>Subject</label>
                        <input name="subject" formControlName="subject" class="px-3" id="subject" placeholder="Your Subject" autocomplete="off">
                        <div *ngIf="contactForm.controls['subject'].invalid && contactForm.controls['subject'].touched" class="px-3 text-danger text-right">
                            <span *ngIf="contactForm.controls['subject'].errors.required">Subject is required</span>
                            <span *ngIf="contactForm.get('subject').hasError('pattern')">Enter must be at least 5 characters</span>
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <label for="message">Message</label>
                        <textarea name="message" class="px-3" id="message" rows="3" placeholder="Your Message"></textarea>
                    </div>
                    <button id="btn-submit" [ngClass]="{'disabled': contactForm.invalid}" type="submit" [disabled]="contactForm.invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
