@keyframes trigger-before {
    0% {
        transform:translateY(11px) rotate(45deg);
    }
    50% {
        transform:translateY(11px) rotate(0);
    }
    100% {
        transform:translateY(0) rotate(0);
    }
}

@keyframes active-trigger-before {
    0% {
        transform:translateY(0) rotate(0);
    }
    50% {
        transform:translateY(12px) rotate(0);
    }
    100% {
        transform:translateY(12px) rotate(45deg);
    }
}

@keyframes trigger-after {
    0% {
        transform:translateY(-11px) rotate(-45deg);
    }
    50% {
        transform:translateY(-11px) rotate(0);
    }
    100% {
        transform:translateY(0) rotate(0);
    }
}

@keyframes active-trigger-after {
    0% {
        transform:translateY(0) rotate(0);
    }
    50% {
        transform:translateY(-12px) rotate(0);
    }
    100% {
        transform:translateY(-12px) rotate(-45deg);
    }
}

@keyframes menu-slide-left {
    0% { 
        opacity:0;
        transform:translateX(-1em);
    }
    100% {
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes avant_bg_anime {
    0% {
        width: 0;
        height: 100vh;
    }
    100% {
        width: 100vw;
        height:100vh;
        opacity:1;
    }
}

@keyframes leftnavi_slide_in { 
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }
    30% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes bottom-in {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}