/* ==== Color ==== */
$blue: #005eaa;
$light-blule: #ecf4fb;
$black: #000;
$gray: #363636;
$gray001: #444;
$gray002: #d4d8d8;
$gray003: #c0c4c4;
$gray004: #ebedf0;
$gray005: #888;
$gray006: #9eb2bd;
$white: #fff;
$white001: #e4e4e4;
$white002: #dfe1e5;
$light-purple: #a1b9ed;

/* ==== responsive screen ==== */
$pc: 1224px;
$tablet: 1024px;
$smart-phone: 768px;

