/* ==== Color ==== */
$light-blue: #ecf4fb;
$light-purple: #a1b9ed;
$dark-blue: #051A2E;
$blue001: #082642;
$dark-yellow: #d69709;
$yellow: #ffb612;
$yellow001: #d8a42f;
$black: #000;
$black002: #020202;
$gray: #363636;
$gray001: #444;
$gray002: #d4d8d8;
$gray003: #c0c4c4;
$gray004: #ebedf0;
$gray005: #888;
$gray006: #9eb2bd;
$gray007: #a0afb9;
$white: #fff;
$white001: #e4e4e4;
$white002: #dfe1e5;
$white003: #b2cfe5;

/* ==== responsive screen ==== */
$large-desktop: 1224px;
$desktop: 1024px;
$tablet: 992px;
$smart-phone: 768px;
$small-device: 480px;
