@import '../../assets/scss/components/variables';
.business{
    a:hover{
        transition: all .2s ease-in-out;
        opacity: .7;
    }
    &__list{
        ul{
            li{
                height: 394px;
                background-color: $blue;
                @media screen and (max-width: $desktop){
                    height: 250px;
                }
                @media screen and (max-width: $smart-phone){
                    height: 100px;
                }
                &:nth-child(1){
                    background: url('../../assets/images/business/business_btm_link01.jpg') no-repeat center center;
                    background-size: cover;
                }
                &:nth-child(2){
                    background: url('../../assets/images/business/business_btm_link02.jpg') no-repeat center center;
                    background-size: cover;
                }
                &:nth-child(3){
                    background: url('../../assets/images/business/business_btm_link03.jpg') no-repeat center center;
                    background-size: cover;
                }
                &:nth-child(4){
                    background: url('../../assets/images/business/business_btm_link04.jpg') no-repeat center center;
                    background-size: cover;
                }
                a{
                    font-size: 2rem;
                    font-weight: 700;
                    color: $white;
                    text-align: center;
                    text-shadow: 0 1px 2px rgba(0,0,0,.2);
                    @media screen and (max-width: $smart-phone){
                        font-size: 1.6rem;
                        br{
                            display: none;
                        }
                    }
                    &::after{
                        content: '';
                        width: 15px;
                        height: 15px;
                        margin-left: 10px;
                        border-top: 2px solid $white;
                        border-right: 2px solid $white;
                        -webkit-transform: rotate(135deg);
                        transform: rotate(135deg);
                        position: absolute;
                        bottom: 20px;
                        right: 20px;
                        @media screen and (max-width: $smart-phone){
                            width: 10px;
                            height: 10px;
                            -webkit-transform: rotate(135deg) translateX(-50%);
                            transform: rotate(135deg) translateX(-50%);
                            bottom: 10px;
                            right: 50%;
                        }
                    }
                }
            }
        }
    }
    &__content{
        padding: 7vw 7vw 5vw;
    }
    &__section{
        margin-bottom: 10vh;
        &--img{
            margin-bottom: 40px;
            box-shadow: 0 2px 4px rgba(0,0,0,.18);
        }
        &--text{
            font-size: 1.4rem;
            line-height: 1.8;
            margin-bottom: 50px;
            p{
                font-weight: 700;
                font-size: 2rem;
                margin-bottom: 14px;
                @media screen and (max-width: $smart-phone){
                    br{
                        display: none;
                    }
                }
            }
        }
    }
}