<div class="content">
    <div class="top-banner">
        <h2 class="top-banner__title">事業紹介<span>BUSINESS</span></h2>
        <div class="w-100 text-center mt-2">
            <span>NEW BUSINESS</span>
        </div>
        <ul id="breadcrumbs" class="breadcrumbs">
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="business">事業紹介</a></li>
            <li class="active">ニュービジネス</li>
        </ul>
    </div>
    <div class="content__pagetitle">
        <h3 class="title-gray">ニュービジネス</h3>
    </div>
    <div class="content__wrap bg-lightblue semiconductor">
        <dl class="business-des">
            <dt>
                エレクトロニクスとアミューズメント業界で培ったノウハウを活かして、新たなビジネス領域への挑戦を続けています。
            </dt>
            <dd>
                加賀電子グループのネットワークとノウハウを最大限活用して、エンターテインメントの世界を広げるソフトやアミューズメント機器を提供しています。また、お客様のご要望に即したOEM による機器開発のほか、PC リサイクル、PC 関連機器の設定などにも対応します。
            </dd>
        </dl>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="bluetitle-noborder">
                <span>ニュービジネスの強み</span>
            </div>
            <div class="business-flow">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <h5>エレクトロニクス業界で</h5>
                        <h5>培ったノウハウで</h5>
                        <h5>新たなフィールドへ</h5>
                    </div>
                    <div class="col-lg-6 col-12">
                        <img src="../../assets/images/newbusiness/newbusiness_flow_img.png" alt="">
                    </div>
                </div>
            </div>
            <ul class="business-point">
                <li>
                    <dl>
                        <dt>アミューズメント事業</dt>
                        <dd class="second-title">一世を風靡したあのゲームも、私達が支えてきました。</dd>
                        <dd>インベーダーゲームやファミコンなど、業界を支えてきた確かな実績を活かし、エンターテインメントの世界を広げるソフトや機器を次々に創造。企画提案型ディストリビュータとしての対応やOEMによる機器開発、保守サービスにも万全の体制で応えます。</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>オリジナルコンテンツ・WEB制作</dt>
                        <dd class="second-title">プログラム技術と映像技術の融合によって、新しいジャンルへ変化を目指しています。</dd>
                        <dd>独自のゲームプログラムを始め最新のunrealやUnityにも対応。企画力と映像力によってリアル表現や擬似表現を展開。ゲーム、映像、車載、建築など、新しい表現を求めるお客様に対して、企画・制作からデバック・検証まで、無限大のサービスを提供します。</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>PC製品のリユース・リサイクル</dt>
                        <dd class="second-title">環境負荷低減に向けた取り組みを促進。</dd>
                        <dd>豊富な知見と調達ルートを活用して、PC製品のリユース・リサイクル事業を行っています。使用済みPCの買い取り、情報漏えい防止のためのデータ消去、そして再生を一貫して行います。また、再生後のPC・電子機器の販売にも対応しています。</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <ul class="row bottom-link">
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/semiconductor">電子部品・<br>半導体ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/ems">EMS<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/product-info">情報機器<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/newbusiness">ニュー<br>ビジネス</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    
