<div class="content">
    <div class="top-banner">
        <h2 class="top-banner__title">事業紹介<span>BUSINESS</span></h2>
        <div class="w-100 text-center mt-2">
            <span>ELECTRONIC COMPONENTS AND SEMICONDUCTOR BUSINESS</span>
        </div>
        <ul id="breadcrumbs" class="breadcrumbs">
            <li><a routerLink="/en/">HOME</a></li>
            <li><a routerLink="/en/business/">事業紹介</a></li>
            <li class="active">電子部品・半導体ビジネス</li>
        </ul>
    </div>
    <div class="content__pagetitle">
        <h3 class="title-gray">電子部品・半導体ビジネス</h3>
    </div>
    <div class="content__wrap bg-lightblue semiconductor">
        <dl class="business-des">
            <dt>
                世界最高水準の部品を国内外から調達し、<br>専門の技術チームとともにお客様に提供しています。
            </dt>
            <dd>
                加賀電子は、日本をはじめ、北米、欧州、アジアに広がるグループ会社と連携し、世界各地に60社を超えるネットワークを展開しています。そのグループ力を活かし、専門の技術チームのもと、世界最高水準の部品をお客様へお届けしています。さらに、貴重な製品情報の発信、テクニカルサポート体制の確立など、お客様に安心と信頼をご提供しています。
            </dd>
        </dl>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="bluetitle-noborder">
                <span>電子部品・</span><span>半導体ビジネスの強み</span>
            </div>
            <ul class="business-point">
                <li>
                    <dl>
                        <dt>独立系のアドバンテージ</dt>
                        <dd class="second-title">独立系総合商社だからできる収集。50年培った信頼とノウハウ。</dd>
                        <dd>加賀電子の仕入先は国内外2,000社、お客様は4,000社（7,000口座）を超え、直接取引しています。取り扱い商材に制限がない独立系商社の強みを活かし、世界中のネットワークを駆使して多くの仕入先とお客様を結びつけ、最良の品を最適な形で提供します。</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>グローバルネットワーク力</dt>
                        <dd class="second-title">時代を先読みする情報収集力、多彩な領域のグループカを駆使。</dd>
                        <dd>北米、欧州、アジアなど、世界各地に60社を超えるネットワークを展開。グループカを活かし、最新の知見、他で手に入らない未公開情報もいち早く収集し、お届けします。現地法人によるサポート体制も万全。ご希望の地域でご要望にお応えします。</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>テクニカルサポート体制</dt>
                        <dd class="second-title">経験豊富な技術者チームに任せる。信頼から生まれる万全の体制。</dd>
                        <dd>最新技術にも精通したFAE（フィールドアプリケーションエンジニア）など、世界各地で得意技術を活かして果敢に挑戦し活躍する技術者チーム。その実績に裏打ちされた信頼とともに、最適な製品をご提供します。情報の少ない最先端のベンチャー商品も徹底した技術で安心してご利用いただけます。</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="bluetitle-noborder">電子部品・半導体ビジネスのビジネスフロー</div>
            <img src="../../../assets/images/semiconductor/semiconductor_flow_img.png" alt="">
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <a routerLink="semiconductor_items.html" class="items-link">
                <span>主な取り扱い品目</span>
                <span>主な取り扱い品目の詳しい情報はコチラから</span>
            </a>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <ul class="row bottom-link">
                <li class="col-lg-3 col-6">
                    <a routerLink="semiconductor">電子部品・<br>半導体ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="ems.html">EMS<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="information_product.html">情報機器<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="newbusiness.html">ニュー<br>ビジネス</a>
                </li>
            </ul>
        </div>
    </div>
</div>
