
<div class="container-fluid">
    <!-- loading page -->
    <div id="loading-page" class="row">
        <div class="col-12 w-100 h-100 d-flex justify-content-end align-items-center" data-aos="fade-right" data-aos-offset="200" data-aos-delay="50">
            <img src="assets/images/main-logo.svg" alt="">
        </div>
    </div>
    <div *ngIf="isPageLoad">
        <div class="wrapper">
            <div class="left-side">
                <app-sidebar></app-sidebar>
            </div>
            <div class="right-side">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>