
<div class="container-fluid px-0">
    <!-- loading page -->
    <div *ngIf="isLoading">
        <div id="loading-page">
            <div class="w-100 h-100 d-flex justify-content-end align-items-center">
                <span data-aos="fade-right" data-aos-delay="2000" data-aos-duration="1000">E</span>
                <span data-aos="fade-right" data-aos-delay="1500" data-aos-duration="1000">M</span>
                <span data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1000">C</span>
                <span data-aos="slide-right" data-aos-delay="50" data-aos-duration="1000"><img src="../assets/images/moto.png" alt=""></span>
            </div>
            <p data-aos="fade-up" data-aos-delay="300" data-aos-duration="2000">Expat Motorbike Cambodia</p>
        </div>
    </div>
    <div id="wrapper" class="wrapper invisible">
        <div class="left-nav">
            <app-sidebar></app-sidebar>
        </div>
        <div class="right-side">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>
</div>
