<div class="sidebar">
    <div class="sidebar__logo">
        <a routerLink="/" class="p-md-4 p-3">
            <div class="logo">
                <span>EMC</span>
                <img src="../../assets/images/logo-white.png" alt="Expat Motorbikes Cambodia">
            </div>
            <span class="text-center">Expat Motorbikes Cambodia</span>
        </a>
    </div>
    <div class="menu-trigger">
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>
    </div>
    <div id="content-menu">
        <div class="sidebar__menu">
            <ul class="mb-0 parent-menu">
                <li>
                    <span class="on-menu"><a routerLink="" class="pointer-even">{{ 'menu.top' | translate }}</a></span>
                    <div class="sub-menu">
                        <ul>
                            <li><a routerLink fragment="emc">EMC</a></li>
                            <li><a routerLink fragment="kubobro">japanese Shop / KUBOBRO & Khmers</a></li>
                            <li><a routerLink fragment="business">Business & Services</a></li>
                            <li><a routerLink fragment="access">Map & Contact (TEL)</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span class="on-menu"><a routerLink="/about" class="pointer-even">{{ 'menu.about-us' | translate }}</a></span>
                    <div class="sub-menu">
                        <ul>
                            <li><a routerLink="/about/philosophy">Mission / Philosophy</a></li>
                            <li><a routerLink="/about/founder">Fonuder Story</a></li>
                            <li><a routerLink="/about/outline">Corperate Information & Branch</a></li>
                            <li><a routerLink="/about/history">History</a></li>
                            <li><a routerLink="">Operational Team</a>
                                <ul class="pt-0">
                                    <li><a routerLink="">japanese</a></li>
                                    <li><a routerLink="">Khmer</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span class="on-menu"><a routerLink="/business" class="pointer-even">{{ 'menu.business-field' | translate }}</a></span>
                    <div class="sub-menu">
                        <ul>
                            <li><a routerLink="/business/rental">Scoter Rental</a></li>
                            <li><a routerLink="/business/visa">Visa & WP</a></li>
                            <li><a routerLink="/business/exchange">Current Exchange & ATM Machine</a></li>
                            <li><a routerLink="">Travel Agency</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span class="on-menu"><a routerLink="" class="pointer-even">{{ 'menu.blog' | translate }}</a></span>
                    <div class="sub-menu">
                        <ul>
                            <li><a routerLink="">Hisashi</a></li>
                            <li><a routerLink="">Shngo</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a routerLink="">{{ 'menu.contact' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="sidebar__footer">
            <ul class="text-size">
                <li class="active text-size__s" data-font="62.5">A</li>
                <li class="text-size__m" data-font="72">A</li>
            </ul>
            <ul class="text-translate">
                <li class="active" (click)="useLanguage('jp')">JP</li>
                <li (click)="useLanguage('en')">EN</li>
                <li (click)="useLanguage('km')">KH</li>
            </ul>
            <div class="form-search">
                <div class="gcse-search"></div>
            </div>
            <div class="contact">
                <a routerLink="">お問い合わせ</a>
            </div>
        </div>
    </div>
</div>