@import '../../assets/scss/components/variables';
@import '../../assets/scss/components/keyframes';

.sidebar {
    .menu-trigger {
        display: none;
    }
    @media screen and (max-width: $smart-phone) {
        .menu-trigger {
            position: fixed;
            top: 0;
            right: 0;
            display: block;
        }
        .menu-icon {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            background-color: $black;
            width: 70px;
            height: 70px;
            .navicon {
                background-color: $white;
                display: block;
                height: 3px;
                position: relative;
                width: 100%;
                &:before {
                    top: -12px;
                    -webkit-animation: trigger-brfore .5s forwards;
                    animation: trigger-brfore .5s forwards;
                }
                &:after {
                    top: 12px;
                    -webkit-animation: trigger-after .5s forwards;
                    animation: trigger-after .5s forwards;
                }
                &:after, &:before {
                    background-color: $white;
                    content: '';
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all .2s ease-out;
                    width: 100%;
                }
            }
            &.active {
                .navicon {
                    background-color: transparent;
                    &:before {
                        -webkit-animation: active-trigger-before .5s forwards;
                        animation: active-trigger-before .5s forwards;
                    }
                    &:after {
                        -webkit-animation: active-trigger-after .5s forwards;
                        animation: active-trigger-after .5s forwards;
                    }
                }
            }
        }
    }
    a {
        &:hover {
            text-decoration: none;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            opacity: 1;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
    #content-menu {
        height: 70vh;
        display: flex;
        flex-direction: column;
        background-color: $dark-blue;
        @media screen and (max-width: $smart-phone) {
            height: 0;
            width: 100%;
            overflow-y: scroll;
            position: fixed;
            top: 70px;
            background-color: transparent;
            transition-property: all;
            transition-duration: .5s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            &.show {
                height: calc(100vh - 70px);
                transition-property: all;
                transition-duration: .5s;
                transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            }
        }
    }
    &__logo {
        background-color: $dark-yellow;
        width: 15vw;
        min-width: 220px;
        z-index: 10;
        @media screen and (max-width: $smart-phone) {
            background-color: transparent;
            width: calc(70% - 70px);
            min-width: auto;
            height: 70px;
            margin-left: 20px;
            position: absolute;
            z-index: 0;
        }
        a {
            color: $white;
            display: flex;
            align-items: center;
            width: 100%;
            height: 30vh;
            @media screen and (max-width: $smart-phone) {
                height: 100%;
            }
            img {
                width: 100%;
                @media screen and (max-width: $smart-phone) {
                    width: 75px;
                }
            }
        }
    }
    &__menu {
        animation: menu-slide-left .5s ease-out backwards;
        animation-delay: 1s;
        background-color: $dark-blue;
            @media screen and (max-width: $smart-phone) {
                background-color: $white;
                .pointer-even {
                    pointer-events: none;
                }
            }
        ul {
            padding-top: 3vh;
            @media screen and (max-width: $smart-phone) {
                padding: 10px 0;
            }
            li{
                span {
                    position: relative;
                    z-index: 10;
                }
                .sub-menu,
                .sub-menu.is-active {
                    &::before {
                        font-size: 2.5rem;
                        font-weight: 300;
                        width: 100%;
                        height: 7vh;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 23vh;
                        right: 0;
                        padding-left: 2vw;
                        z-index: 99;
                        @media screen and (max-width: $smart-phone) {
                            content: '' !important;
                        }
                    }
                }
                &:nth-child(1):hover {
                    .sub-menu {
                        &::before {
                            content: 'Top';
                        }
                    }
                }
                &:nth-child(2):hover {
                    .sub-menu {
                        &::before {
                            content: 'About Us';
                        }
                    }
                }
                &:nth-child(3):hover {
                    .sub-menu {
                        &::before {
                            content: 'Business Field';
                        }
                    }
                }
                &:nth-child(4):hover {
                    .sub-menu {
                        &::before {
                            content: 'Blog';
                        }
                    }
                }
                &:nth-child(5):hover {
                    .sub-menu {
                        &::before {
                            content: 'Contact';
                        }
                    }
                }
                &:hover {
                    li {
                        &:nth-of-type(1) {
                            animation-delay: .70s;
                        }
                        &:nth-of-type(2) {
                            animation-delay: .75s;
                        }
                        &:nth-of-type(3) {
                            animation-delay: .80s;
                        }
                        &:nth-of-type(4) {
                            animation-delay: .85s;
                        }
                        &:nth-of-type(5) {
                            animation-delay: .90s;
                        }
                        &:nth-of-type(6) {
                            animation-delay: .95s;
                        }
                        &:nth-of-type(7) {
                            animation-delay: .1s;
                        }
                        animation: menu-slide-left .3s ease-out both;
                        @media screen and (max-width: $smart-phone) { 
                            animation: none;
                        }
                    }
                    .sub-menu {
                        visibility: visible;
                        animation: menu-slide-left .3s ease-out both;
                        animation-delay: .3s;
                        @media screen and (max-width: $desktop) and (min-width:  $smart-phone) {
                            visibility: hidden;
                            animation: none;
                        }
                    }
                }
            }
            a {
                display: block;
                width: 100%;
                padding: 1.7vh 0 1.5vh 2vw;
                text-align: left;
                font-size: calc(1.1rem + .25vw);
                letter-spacing: .03em;
                line-height: 1.4em;
                color: $yellow;
                font-weight: 500;
                position: relative;
                z-index: 10;
                &:hover {
                    background-color: $dark-yellow;
                    color: $white;
                    @media screen and (max-width: $smart-phone) {
                        background-color: transparent;
                        color: $yellow;
                    }
                }
                @media screen and (max-width: $smart-phone) {
                    padding: 10px 0 10px 10px;
                }
                &.is-active {
                    @media screen and (max-width: $smart-phone) {
                        color: $white;
                        background-color: $dark-yellow;
                    }
                    @media screen and (min-width: $desktop) {
                        background-color: transparent;
                        color: $yellow;
                    }
                }
            }
        }
        .sub-menu {
            width: calc(5vw + 220px);
            height: 100vh;
            padding-top: 30vh;
            color: $white;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: -1;
            visibility: hidden;
            background: rgb(214, 151, 9, .8);
            background: linear-gradient(180deg, rgba(225, 255, 255, .2) 0, rgba(214, 151, 9, 0.8) 30%, rgba(5, 26, 46, 0.95) 30%, rgba(5, 26, 46, 0.95) 100%);
            @media screen and (max-width: $smart-phone) {
                width: 100%;
                height: 0;
                color: $yellow;
                position: relative;
                left: 0;
                z-index: 0;
                padding-top: 0;
                background: 0 0;
                transition: .3s;
                display: none;
            }
            &.sub-active {
                @media screen and (max-width: $smart-phone) {
                    height: 100%;
                    color: $yellow;
                    display: block;
                    visibility: visible !important;
                    transition: .3s;
                }
                
            }
            
            ul {
                z-index: 1;
                -ms-overflow-style: none;
                padding: 2vw 2vw 0;
                li {
                    width: 100%;
                    min-height: 5vh;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 100%;
                        height: 100%;
                        font-size: calc(1.1rem + .25vw);
                        color: $dark-yellow;
                        position: relative;
                        z-index: 10;
                        padding: 1vh 0;
                        font-weight: 400;
                        &::before {
                            content: '';
                            width: 8px;
                            height: 8px;
                            border-right: 1px solid $dark-yellow;
                            border-bottom: 1px solid $dark-yellow;
                            display: inline-block;
                            transform: rotate(-45deg);
                            margin-right: 10px;
                            opacity: .3;
                        }
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            background-color: $dark-yellow;
                            top: 0;
                            left: 0;
                            width: 0;
                            z-index: -1;
                        }
                    }
                    &:hover {
                        a {
                            padding-left: .6em;
                            transition: all .4s ease;
                            transition-delay: .2s;
                            opacity: 1;
                            color: $white;
                            background-color: $dark-yellow;
                            z-index: 10000;
                            &::before {
                                border-right: 2px solid $white;
                                border-bottom: 2px solid $white;
                                transition-delay: .3s;
                            }
                            &:after {
                                animation: sub-menu-left-hover .3s ease-in-out both;
                                animation-delay: .2s;
                            }
                        }
                    }
                }          
            }
        }
    }

    &__footer {
        display: block;
        background-color: $dark-blue;
        margin: auto 0 0;
        padding: 0 2vw 4vh 2vw;
        @media screen and (max-width: $smart-phone) {
            margin: 0;
            padding: 30px;
            background-color: $white;
        }
        ul {
            display: flex;
            width: 100%;
            margin: 0 auto;
            li {
                height: 24px;
                line-height: 24px;
                border-radius: 2px;
                font-weight: 700;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $dark-yellow;
                background-color: $dark-blue;
                color: $yellow;
                cursor: pointer;
                &.active {
                    color: $black;
                    background-color: $dark-yellow;
                }
            }
        }
        .text-size {
            li {
                width: 17%;
                margin-right: 5%;
                margin-bottom: 5%;
                @media screen and (max-width: $smart-phone) {
                    margin-bottom: 1em;                    
                }
            }
            &__m {
                font-size: 1.4rem;
            }
            &__s {
                font-size: 1rem;
            }
        }
        .text-translate {
            justify-content: space-between;
            li {
                width: 20%;
                font-size: 1.2rem;
                letter-spacing: 0;
            }
        }
        .contact {
            font-weight: 700;
            margin: 15px 0 0;
            width: 100%;
            a {
                color: $white;
                background-color: $dark-yellow;
                display: block;
                text-align: center;
                border-radius: 2px;
                width: 100%;
                font-size: 1.2rem;
            }
        }
    }
}