<div class="content">
    <app-about-header></app-about-header>
    <div class="content__pagetitle">
        <h3 class="title-gray">営業所・グループ会社情報</h3>
    </div>
    <div class="content__tab">
        <div class="row no-gutters">
            <div class="col-6 tab-left">
                <a routerLink="https://www.taxan.co.jp/jp/company/network.html#group_subnavi">事業別一覧</a>
            </div>
            <div class="col-6 text-center tab-right">
                <div class="row no-gutters">
                    <div class="col-12 title-tab">地域別一覧</div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4 item-tab"><a routerLink="https://www.taxan.co.jp/jp/company/base.html#group_subnavi">加賀電子営業所</a></div>
                    <div class="col-4 item-tab"><a routerLink="https://www.taxan.co.jp/jp/company/group/index.html#group-jp">国内グループ会社</a></div>
                    <div class="col-4 item-tab"><a routerLink="https://www.taxan.co.jp/jp/company/group/index.html#group-other">海外グループ会社</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="map content__wrap bg-lightblue">
        <div class="content-section">
            <div class="map-title">
                <h4>加賀電子本社</h4>
            </div>
            <div class="img-map">
                <img src="../../../../assets/images/outline/map_hq.jpg" alt="国内マップ">
            </div>
            <table class="table table-blue">
                <tr>
                    <th>会社名</th>
                    <td>加賀電子本社</td>
                </tr>
                <tr>
                    <th>所在地</th>
                    <td>〒101-8629　東京都千代田区神田松永町20番地</td>
                </tr>
                <tr>
                    <th>交通のご案内</th>
                    <td>
                        <ul>
                            <li>JR「秋葉原」駅 昭和通り口より徒歩5分</li>
                            <li>つくばエクスプレス「秋葉原」駅 A3出口より徒歩4分</li>
                            <li>東京メトロ日比谷線「秋葉原」駅 2番出口より徒歩4分</li>
                            <li>東京メトロ銀座線「末広町」駅 3番出口より徒歩7分</li>
                            <li>都営新宿線「岩本町」駅 A3出口より徒歩7分</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <div class="map-btn">
                <a routerLink="javascript:void(0)" onclick="window.print();return false;">印刷する</a>
            </div>
        </div>
    </div>
</div>
