@import '../../../assets/scss/components/variables';
.visa-header {
    color: $white;
    padding: 50px 50px 0 50px;
    @media screen and (max-width: $smart-phone) {
        padding: 50px 30px 0 30px;
    }
    .title-border {
        font-size: 3rem;
        border: 1px solid $white;
        padding: 20px;
        margin-bottom: 40px;
        text-align: center;
        @media screen and (max-width: $smart-phone) {
            font-size: 2.2rem;
            padding: 20px 10px;
        }
        @media screen and (max-width: $small-device) {
            font-size: 1.8rem;
        }
    }
    .sub-title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 30px;
        line-height: 1.8;
        text-align: center;
        @media screen and (max-width: $smart-phone) {
            font-size: 2rem;
            display: inline-block;
            text-align: left;
        }
        @media screen and (max-width: $small-device) {
            font-size: 1.6rem;
        }
    }
    .google-review {
        font-size: 20px;
    }
}
.visa {
    .scene-block {
        &:nth-of-type(1) {
            .scene-right {
                background: url("../../../assets/images/business/document.jpg") no-repeat center center;
            }
        }
        &:nth-of-type(2) {
            .scene-right {
                background: url("../../../assets/images/business/visa-step2.jpg") no-repeat center center;
            }
        }
        &:nth-of-type(3) {
            .scene-right {
                background: url("../../../assets/images/business/visa.jpg") no-repeat center center;
            }
        }
        &:nth-of-type(4) {
            .scene-right {
                background: url("../../../assets/images/business/acception.jpg") no-repeat center center;
            }
        }
    }
}