<div class="content pr-4">

    <!-- Business Header -->
    <app-business-header></app-business-header>

    <!-- Visa Header -->
    <div class="visa-header bg-darkyellow">
        <div class="row">
            <div class="col-12">
                <h3 class="title-border">{{ 'visa.title' | translate }}</h3>
            </div>
            <div class="col-12">
                <div class="sub-title"> 
                    <span>{{ 'visa.sub-title' | translate }}</span>
                </div>
                <div class="pb-5">
                    <p class="mb-0">{{ 'visa.des.line-1' | translate }}</p>
                    <p class="mb-0">{{ 'visa.des.line-2' | translate }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Visa Content -->
    <div class="visa content__wrap bg-lightblue">
        <div class="content-section">
            <h3 class="step-title">{{ 'visa.flow.title' | translate }}</h3>
            <!-- Visa Step -->
            <ul class="scene">
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>01
                    </div>
                    <div class="scene-text">{{ 'visa.flow.step-1' | translate }}</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>02
                    </div>
                    <div class="scene-text">{{ 'visa.flow.step-2' | translate }}</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>03
                    </div>
                    <div class="scene-text">{{ 'visa.flow.step-3' | translate }}</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>04
                    </div>
                    <div class="scene-text">{{ 'visa.flow.step-4' | translate }}</div>
                </li>
            </ul>
            <!-- Section 01 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            {{ 'visa.step-1.title' | translate }}
                        </dt>
                        <dd>
                            <p>{{ 'visa.step-1.des-1' | translate }}</p>
                            <p>{{ 'visa.step-1.des-2' | translate }}</p>
                            <p>{{ 'visa.step-1.des-2' | translate }}</p>
                            <p>{{ 'visa.step-1.des-2' | translate }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 02 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            {{ 'visa.step-2.title' | translate }}
                        </dt>
                        <dd>
                            <p>{{ 'visa.step-2.des-1' | translate }}</p>
                            <p>{{ 'visa.step-2.des-2' | translate }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 03 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            {{ 'visa.step-3.title' | translate }}
                        </dt>
                        <dd>
                            <p>{{ 'visa.step-3.des-1' | translate }}</p>
                            <p>{{ 'visa.step-3.des-2' | translate }}</p><br>
                            <p>{{ 'visa.step-3.des-3' | translate }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 04 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            {{ 'visa.step-4.title' | translate }}
                        </dt>
                        <dd>
                            <p>{{ 'visa.step-4.des-1' | translate }}</p>
                            <p>{{ 'visa.step-4.des-2' | translate }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
        </div>

        <div class="content-section">
            <h3 class="step-title">{{ 'visa.qa.title' | translate }}</h3>
            <h3 class="qa-sec-title">{{ 'visa.qa.sec-1.title' | translate }}</h3>

            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q1' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a1.line-1' | translate }} <br>
                        {{ 'visa.qa.sec-1.a1.line-2' | translate }}
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q2' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a2' | translate }}</p>
                </div>
            </div>
            <div class="my-5 qa-note"><span class="text-danger">*</span>{{ 'visa.qa.sec-1.note' | translate }}</div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q3' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a3.line-1' | translate }} <br>
                        {{ 'visa.qa.sec-1.a3.line-2' | translate }}
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q4' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span class="d-block">A:</span>{{ 'visa.qa.sec-1.a4.line-1' | translate }} <br>
                        {{ 'visa.qa.sec-1.a4.line-2' | translate }} <br>
                        {{ 'visa.qa.sec-1.a4.line-3' | translate }} <br>
                        {{ 'visa.qa.sec-1.a4.line-4' | translate }} <br>
                        {{ 'visa.qa.sec-1.a4.line-5' | translate }} <br>
                        {{ 'visa.qa.sec-1.a4.line-6' | translate }} <br>
                        {{ 'visa.qa.sec-1.a4.line-7' | translate }} <br>
                        {{ 'visa.qa.sec-1.a4.line-8' | translate }} <br>
                        {{ 'visa.qa.sec-1.a4.line-9' | translate }}
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q5' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a5.line-1' | translate }} <br>
                        {{ 'visa.qa.sec-1.a5.line-2' | translate }}
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q6' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span class="d-block">A:</span>{{ 'visa.qa.sec-1.a6.line-1' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-2' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-3' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-4' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-5' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-6' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-7' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-8' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-9' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-10' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-11' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-12' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-13' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-14' | translate }} <br>
                        {{ 'visa.qa.sec-1.a6.line-15' | translate }}
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q7' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a7.line-1' | translate }} <br>
                        {{ 'visa.qa.sec-1.a7.line-2' | translate }} <br>
                        {{ 'visa.qa.sec-1.a7.line-3' | translate }} <br>
                        {{ 'visa.qa.sec-1.a7.line-4' | translate }} <br>
                        {{ 'visa.qa.sec-1.a7.line-5' | translate }} <br>
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q8' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a8' | translate }} <br>
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q9' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a9.line-1' | translate }} <br>
                        {{ 'visa.qa.sec-1.a9.line-2' | translate }}
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q10' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a10' | translate }} <br>
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q11' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a11' | translate }} <br>
                    </p>
                </div>
            </div>
            <div class="rental-QA">
                <div class="rental-Q plus">
                    <h5>{{ 'visa.qa.sec-1.q12' | translate }}</h5>
                </div>
                <div class="rental-A">
                    <p class="mb-0"><span>A:</span>{{ 'visa.qa.sec-1.a12' | translate }} <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>