<div class="content">

    <!-- Business Header -->
    <app-business-header></app-business-header>

    <!-- Visa Header -->
    <div class="visa-header bg-darkyellow">
        <div class="row">
            <div class="col-12">
                <h3 class="title-border">ビザサービス・労働許可証</h3>
            </div>
            <div class="col-12">
                <div class="sub-title"> 
                    <span>ビザ更新およびワークパーミット（労働許可証）の代理申請サービス</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Visa Content -->
    <div class="visa content__wrap bg-lightblue">
        <div class="content-section">
            <h3 class="step-title">VISA更新までのフロー</h3>
            <!-- Visa Step -->
            <ul class="scene">
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>01
                    </div>
                    <div class="scene-text">事前準備</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>02
                    </div>
                    <div class="scene-text">EMCショップ</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>03
                    </div>
                    <div class="scene-text">VISA・労働許可証</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>STEP</span>04
                    </div>
                    <div class="scene-text">受け取り</div>
                </li>
            </ul>
            <!-- Section 01 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            下記の必要な書類を手元にご用意ください。
                        </dt>
                        <dd>
                            <p>・パスポート</p>
                            <p>・他に必要なドキュメントがあれば</p>
                            <p>・他に必要なドキュメントがあれば</p>
                            <p>・他に必要なドキュメントがあれば</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 02 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            EMCショップ
                        </dt>
                        <dd>
                            <p>EMCにご来店いただき、必要な書類を確認させていただきます。</p>
                            <p>もし事前に必要書類等の不明点がございましたら、お問い合わせください。</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 03 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            VISA・労働許可証 更新 / 作成
                        </dt>
                        <dd>
                            <p>更新が完了致しましたら、当店からご連絡SMS、電話等にてご連絡させていただきます。</p>
                            <p>更新完了までお待ちください。</p><br>
                            <p>なお、お急ぎの方に関しては、エクスプレスサービス等もございます。</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 04 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            受け取り
                        </dt>
                        <dd>
                            <p>EMCから更新/作成の完了を送らせていただいたのち、店頭までお受け取りに来ていただきます。</p>
                            <p>なお、希望の方には更新完了後、送付させていただくサービスも承っております。</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
        </div>
    </div>
</div>