<div class="content pr-4">

    <!-- Business Header -->
    <app-business-header></app-business-header>

    <!-- Exchange Header -->
    <div class="exchange-header bg-darkyellow">
        <div class="row">
            <div class="col-12">
                <h3 class="title-border">{{ 'exchange.title' | translate }}</h3>
            </div>
            <div class="col-12">
                <div class="sub-title"> 
                    <span>{{ 'exchange.sub-title' | translate }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Exchange Content -->
    <div class="exchange content__wrap bg-lightblue">
        <div class="content-section">
            <h3 class="step-title">{{ 'exchange.flow.title' | translate }}</h3>
            <!-- Exchange Step -->
            <ul class="scene">
                <li>
                    <div class="scene-circle">
                        <span>{{ 'exchange.feature' | translate }}</span>01
                    </div>
                    <div class="scene-text">{{ 'exchange.flow.step-1' | translate }}</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>{{ 'exchange.feature' | translate }}</span>02
                    </div>
                    <div class="scene-text">{{ 'exchange.flow.step-2' | translate }}</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>{{ 'exchange.feature' | translate }}</span>03
                    </div>
                    <div class="scene-text">{{ 'exchange.flow.step-3' | translate }}</div>
                </li>
            </ul>
            <!-- Section 01 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            {{ 'exchange.step-1.title' | translate }}
                        </dt>
                        <dd>
                            <p>{{ 'exchange.step-1.des' | translate }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 02 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            {{ 'exchange.step-2.title' | translate }}
                        </dt>
                        <dd>
                            <p>{{ 'exchange.step-2.des-1' | translate }}</p>
                            <p><a href="tell:078849977">{{ 'exchange.step-2.des-2' | translate }}</a></p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <!-- Section 03 -->
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            {{ 'exchange.step-3.title' | translate }}
                        </dt>
                        <dd>
                            <p>{{ 'exchange.step-3.des-1' | translate }}</p>
                            <p>{{ 'exchange.step-3.des-2' | translate }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
        </div>
    </div>
</div>