<div class="content">
    <app-business-header></app-business-header>
    <div class="rental-header bg-darkyellow">
        <div class="row">
            <div class="col-12">
                <h3 class="title-border">外貨両替</h3>
            </div>
            <div class="col-12">
                <div class="sub-title"> 
                    <span>顧客視点による新しい外貨両替サービス</span>
                </div>
            </div>
        </div>
    </div>
    <div class="rental content__wrap bg-lightblue">
        <div class="content-section">
            <h3 class="step-title">弊社両替サービスの特徴</h3>
            <ul class="scene">
                <li>
                    <div class="scene-circle">
                        <span>特徴</span>01
                    </div>
                    <div class="scene-text">外貨両替ATM（24時間稼働）</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>特徴</span>02
                    </div>
                    <div class="scene-text">店頭両替</div>
                </li>
                <li>
                    <div class="scene-circle">
                        <span>特徴</span>03
                    </div>
                    <div class="scene-text">外貨両替代理業務</div>
                </li>
            </ul>
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            外貨両替ATM（24時間稼働）
                        </dt>
                        <dd>
                            <p>小口両替、スピーディーかつ正確な両替サービス</p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            店頭両替
                        </dt>
                        <dd>
                            <p>大口および法人両替、事前連絡要</p>
                            <p><a href="tell:078849977">+855(0)78-849-977</a></p>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
            <div class="scene-block">
                <div class="scene-left">
                    <dl>
                        <dt>
                            外貨両替代理業務
                        </dt>
                        <dd>
                            <p>プノンペン両替商ネットワークを通じた”ベストレート”の提供</p>
                            <p>両替業務にかかる情報探索コスト/時間を節約</p><br>
                        </dd>
                    </dl>
                </div>
                <div class="scene-right"></div>
            </div>
        </div>
    </div>
</div>