<div class="content">
    <app-about-header></app-about-header>
    <div class="blog bg-lightblue">
        <div class="content__wrap">
            <div class="row">
                <div class="col-xl-6 col-lg-4 col-md-6 col-12 my-3" *ngFor="let number of [0,1,2,3]">
                    <div class="row no-gutters b-darkyellow">
                        <div class="col-12 blog-img my-xl-auto">
                            <img src="assets/images/business/rental__img01.jpg" alt="ss" class="w-100">
                        </div>
                        <div class="col-12 bg-white blog-text">
                            <div class="p-5">
                                <div class="text-center">
                                    <h3 class="yellow-title">aa</h3>
                                </div>
                                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>