<div class="content">
    <div class="top-banner">
        <h2 class="top-banner__title">事業紹介<span>BUSINESS</span></h2>
        <div class="w-100 text-center mt-2">
            <span>PRODUCT INFORMATION</span>
        </div>
        <ul id="breadcrumbs" class="breadcrumbs">
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="business">事業紹介</a></li>
            <li class="active">EMSビジネス 主な取り扱い品目</li>
        </ul>
    </div>
    <div class="content__pagetitle">
        <h3 class="title-gray">主な取り扱い品目</h3>
    </div>
    <div class="content__wrap bg-lightblue product-item">
        <div class="product-item__area">
            OA機器 / PC周辺機器 / 産業機器 / 医療機器 / 情報通信機器 / 電源ユニット / AV機器 / LCDモジュール / ICカード ほか
        </div>
        <div class="content-section product-item" data-aos="fade-up" data-aos-delay="50">
            <div class="product-item__title">
                <h3>基板モジュール</h3>
            </div>
            <div class="product-item__content">
                <p>
                    PCのマザーボードをはじめ様々な電子機器に組み込まれている基板モジュール。半完成品から完成品までフレキシブルに対応いたします。
                </p>
            </div>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="product-item__title">
                <h3>各種電源ユニット</h3>
            </div>
            <div class="product-item__content">
                <p>電子機器を安定して動作させるためには、高品質な電源ユニットが欠かせません。十分な出力を確保し、省エネにも有効な製品を選定いたします。</p>
            </div>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="product-item__title">
                <h3>車載用LED照明ユニット</h3>
            </div>
            <div class="product-item__content">
                <div class="product-item__text">
                    <p>車載用に求められる安全性や耐久性などを満たす照明ユニットにより、より消費電力を抑え、柔軟な運用が可能となります。</p>
                </div>
                <div class="product-item__img">
                    <img src="../../../../assets/images/semiconductor/semiconductor_items_img03.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <div class="product-item__title">
                <h3>医療機器</h3>
            </div>
            <div class="product-item__content">
                <div class="product-item__text">
                    <p>完全密閉されたクリーンルームでは、温度、湿度、埃、静電気をコントロールし、微細加工部品や医療機器の生産にも対応しています。</p>
                </div>
                <div class="product-item__img">
                    <img src="../../../../assets/images/semiconductor/semiconductor_items_img04.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content-section" data-aos="fade-up" data-aos-delay="50">
            <ul class="row bottom-link">
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/semiconductor">電子部品・<br>半導体ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/ems">EMS<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/product-info">情報機器<br>ビジネス</a>
                </li>
                <li class="col-lg-3 col-6">
                    <a routerLink="/business-field/newbusiness">ニュー<br>ビジネス</a>
                </li>
            </ul>
        </div>
    </div>
</div>