<!-- Page Not Found -->
<div class="content">
    <div class="error404">
        <div class="content__wrap">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-flex flex-column">
                        <h2>{{ 'page-404.title' | translate }}</h2>
                        <span></span>
                    </div>
                </div>
                <div class="col-12 text-center my-5">
                    <p>{{ 'page-404.des' | translate }}</p>
                </div>
                <div class="col-12 text-center">
                    <a routerLink="/" class="back-to-top"><i class="fas fa-chevron-left pr-3"></i>{{ 'button.back-to-top' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
