<div class="content">
    <app-about-header></app-about-header>
    <div class="content__pagetitle">
        <h3 class="title-gray">加賀電子50年の歴史 会社沿革</h3>
    </div>
    <div class="w-100 history bg-lightblue">
        <div class="content__wrap">
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>1968</h4></div>
                <div class="history__img">
                    <ul class="row">
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-1968.jpg" alt=""><p>加賀電子 創業の地</p></li>
                    </ul>
                </div>
                <div class="history__list">
                    <dl>
                        <dt>1968年</dt>
                        <dd>
                            <p class="point">資本金100万円で東京都千代田区外神田3-8-3に設立</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>1970</h4></div>
                <div class="history__img">
                    <ul class="row">
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-1970-1.jpg" alt=""><p>CBトランシーバーブーム到来</p></li>
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-1970-2.jpg" alt=""><p>インベーダーゲームブーム到来</p></li>
                    </ul>
                </div>
                <div class="history__list">
                    <dl>
                        <dt>1972年</dt>
                        <dd>
                            <p>本社を東京都文京区本郷3-39-5に移転。</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>1980</h4></div>
                <div class="history__img">
                    <ul class="row">
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-1980-1.jpg" alt=""><p>TAXAN USAをアメリカに設立</p></li>
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-1980-2.jpg" alt=""><p>アップル用自社ブランドモニター「KG-12」を発売</p></li>
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-1980-3.jpg" alt=""><p>自社ブランドカラーモニター「TAXAN RGB VISION」を発売</p></li>
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-1980-4.jpg" alt=""><p>家庭用ゲーム事業を開始</p></li>
                    </ul>
                </div>
                <div class="history__list">
                    <dl>
                        <dt>1980年</dt>
                        <dd>
                            <p class="point">本社を東京都文京区本郷3-39-5に移転。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1981年</dt>
                        <dd>
                            <p>本社を東京都文京区湯島3-14-2に移転。</p>
                            <p>TAXAN USA CORP.をアメリカ合衆国に設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1985年</dt>
                        <dd>
                            <p>本社を東京都千代田区外神田6-5-12に移転。</p>
                            <p class="point">（社）日本証券業協会（東京都地区協会）登録銘柄となる。</p>
                            <p>TAXAN（EUROPE）LTD.をイギリスに設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1986年</dt>
                        <dd>
                            <p class="point">東京証券取引所市場第二部上場。</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>1990</h4></div>
                <div class="history__img">
                    <ul class="row">
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-1990-1.jpg" alt=""><p>KAGA（H.K.）を香港に設立</p></li>
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-1990-2.jpg" alt=""><p>自社工場 港加賀電子を中国（深圳）に設立</p></li>
                    </ul>
                </div>
                <div class="history__list">
                    <dl>
                        <dt>1990年</dt>
                        <dd>
                            <p>(株)ナグザットを子会社とする。</p>
                            <p>本社を東京都文京区音羽1-26-1に移転。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1991年</dt>
                        <dd>
                            <p>加賀デバイス(株)を東京都文京区に設立。</p>
                            <p>ボルテック(株)を子会社とする。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1992年</dt>
                        <dd>
                            <p>KAGA(H.K.) ELECTRONICS LTD.を香港に設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1994年</dt>
                        <dd>
                            <p>KAGA（SINGAPORE）ELECTRONICS PTE LTDをシンガポールに設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1995年</dt>
                        <dd>
                            <p>KAGA（KOREA） ELECTRONICS CO.,LTD.を韓国に設立。</p>
                            <p class="point">売上高500億円突破。</p>
                            <p>加賀ソルネット(株)を東京都新宿区に設立。</p>
                            <p>KAGA（TAIWAN）ELECTRONICS CO.,LTD.を台湾に設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1997年</dt>
                        <dd>
                            <p>ボルテック(株)が東軽電工(株)から営業権を譲受け、同時に社名を「加賀コンポーネント(株)」に変更。</p>
                            <p class="point">東京証券取引所市場第一部上場。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1999年</dt>
                        <dd>
                            <p>(株)エー・ディーデバイスを子会社とする。</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2000</h4></div>
                <div class="history__img">
                    <ul class="row">
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-2000-1.jpg" alt=""><p>KAGA COMPONENTS<br>（MALAYSIA）をマレーシアに設立</p></li>
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-2000-2.jpg" alt=""><p>KAGA（THAILAND）をタイ（バンナ）に設立</p></li>
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-2000-3.jpg" alt=""><p>KD TECをチェコに設立</p></li>
                    </ul>
                </div>
                <div class="history__list">
                    <dl>
                        <dt>2000年</dt>
                        <dd>
                            <p class="point">加賀電子（上海）有限公司を中国に設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2001年</dt>
                        <dd>
                            <p class="point">売上高1,000億円突破。</p>
                            <p>加賀電子技術開発(深川)有限公司を深川に設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2002年</dt>
                        <dd>
                            <p>KAGA ELECTRONICS(THAILAND)CO.,LTD.をタイに設立。</p>
                            <p>マイクロソリューション(株)を東京都新宿区に設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2003年</dt>
                        <dd>
                            <p>KAGA DEVICES（H.K.）LIMITEDを香港に設立。</p>
                            <p>(株)デジタル・メディア・ラボを子会社とする。</p>
                            <p>KAGA ELECTRONICS (USA) INC.をアメリカに設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2004年</dt>
                        <dd>
                            <p>本社を東京都文京区本郷2-2-9に移転。</p>
                            <p>FYT(株)【現 加賀スポーツ(株)】本社を東京都文京区に設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2005年</dt>
                        <dd>
                            <p>(株)樫村を子会社とする。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2006年</dt>
                        <dd>
                            <p>加賀電子（大連）有限公司を大連に設立。</p>
                            <p>(株)樫村に加賀電子情報機器部門の一部を統合し、同時に社名を「加賀ハイテック(株)」に変更。</p>
                            <p>大塚電機(株)を子会社とする。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2007年</dt>
                        <dd>
                            <p>加賀アミューズメント(株)を東京都文京区に設立。</p>
                            <p>HANZAWA(HK)LTD.を子会社とする。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2008年</dt>
                        <dd>
                            <p>加賀エデュケーショナルマーケティング(株)を東京都文京区に設立。</p>
                            <p>エー・ディ・エム(株)を子会社とする。</p>
                            <p>AD DEVICE(H.K.)LIMITEDを香港に設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2009年</dt>
                        <dd>
                            <p>KAGA(EUROPE) ELECTRONICSをイギリスに設立。</p>
                            <p>KD TEC s.r.o.をチェコ共和国に設立。</p>
                            <p>東京電電工業(株)【現・加賀テクノサービス(株)】をグループ会社とする。</p>
                            <p>本社を東京都千代田区外神田3-12-8に移転。</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2010</h4></div>
                <div class="history__img">
                    <ul class="row">
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-2010-1.jpg" alt=""><p>TAXAN MEXICO をメキシコに設立</p></li>
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-2010-2.jpg" alt=""><p>富士通エレクトロニクスを子会社化</p></li>
                        <li class="col-lg-4 col-12"><img src="../../../assets/images/history/history-2010-3.jpg" alt=""><p>加賀マイクロソリューション福島工場竣工</p></li>
                    </ul>
                </div>
                <div class="history__list">
                    <dl>
                        <dt>2011年</dt>
                        <dd>
                            <p>加賀テック(株)が大塚電機(株)を吸収合併。</p>
                            <p>KAGA DEVICES INDIA PRIVATE LIMITEDをインドに設立。</p>
                            <p>KAGA AMUSEMENT(MALAYSIA)SDN.BHD.をマレーシアに設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2012年</dt>
                        <dd>
                            <p>(株)エー・ディーデバイスがエーエスデバイス(株)を吸収合併。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2013年</dt>
                        <dd>
                            <p>AD DEVICE(Thailand)co.,Ltd.をタイに設立。</p>
                            <p>加賀デバイス(株)がエー・ディ・エム(株)を吸収合併。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2014年</dt>
                        <dd>
                            <p class="point">本社自社ビルを東京都千代田区神田松永町20番地に建設、移転。</p>
                            <p>AD DEVICE(SHANGHAI)CO., LTD.を上海に設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2016年</dt>
                        <dd>
                            <p>加賀ソルネット(株)、加賀ハイテック(株)、加賀エデュケーショナルマーケティング(株)が合併し、加賀ソルネット(株)を存続会社とする。</p>
                            <p>加賀テクノサービス(株)を孫会社から子会社とする。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2017年</dt>
                        <dd>
                            <p>TAXAN MEXICO S.A. de C.V.をメキシコに設立。</p>
                            <p>KAGA ELECTRONICS (VIETNAM) CO.,LTD.をベトナムに設立。</p>
                            <p>マイクロソリューション(株)が社名を「加賀マイクロソリューション(株)」に変更。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2018年</dt>
                        <dd>
                            <p>加賀マイクロソリューション(株)が加賀コンポーネント(株)の全事業を譲受。</p>
                            <p>KD TEC TURKEY ELEKTRONIK SANAYI VE TICARET LIMITED SIRKETI をトルコに設立。</p>
                            <p>KAGA ELECTRONICS INDIA PRIVATE LIMITED をインドに設立。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2019年</dt>
                        <dd>
                            <p>富士通エレクトロニクス(株)を子会社とする。</p>
                            <p>十和田パイオニア（株）を子会社とし、同時に社名を「加賀EMS十和田（株）」に変更。</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2020</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>2020年</dt>
                        <dd>
                            <p>（株）エクセルを子会社とする。</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>