<div class="content">
    <app-about-header></app-about-header>
    <div class="content__pagetitle">
        <h3 class="main-title">EMC 沿革</h3>
    </div>
    <div class="w-100 history bg-lightblue">
        <div class="content__wrap">

            <div class="content-section" data-aos="fade-up" data-aos-delay="50">
                <div class="founder-des">
                    <h3 class="text-center mb-5">EMC 創業ストーリー</h3>
                    <p class="mb-5">2013年下旬、プノンペンでバイクファイナンス会社に勤めていた久保弟が会社同僚のすすめにより、タイから輸入された中古バイクを６台購入し、奈良の実家でくすぶっていた兄を無理やりプノンペンに呼び寄せたことがEMCの始まり。</p>
                    <p class="mb-5">弟の会社同僚の親戚、プノンペンに上京したばかりの若きクメール大学生＝ヒーンを加えた３名がスターティングメンバー。当時住んでいたバンケンコンのアパートの一角を間借りしデスクを置いただけの青空事務所がスタート。</p>
                    <p class="mb-5">営業開始から初めの２ヶ月は鳴かず飛ばずであったものの、BKKの中心地というアクセスの良さ、顧客中心の接客スタイルが在住欧米人の間でクチコミとして広がり、じわじわとファンを獲得する。</p>
                    <p>営業開始から半年後には現在の本店舗地であるBKK１のストリート３２２にオフィス移転。後にヒーンと同郷の親友、現在はシニアエンジニアを勤めるハック、EMCのオペレーションを裏から支えるITシステム開発者のピセスといった現在のEMCの屋台骨を支える主要EMCメンバーが揃う。</p>
                </div>
            </div>

            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2013</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>2013年 11月</dt>
                        <dd>
                            <p>BKK1, Palm Villageアパートメント駐車場にて営業開始</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2014</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>2014年 04月</dt>
                        <dd>
                            <p>オフィスを現在のBKK本店舗地に移転</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2016</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>2016年 08月</dt>
                        <dd>
                            <p>ビザ更新 代理申請事業 開始</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2017</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>2017年 10月</dt>
                        <dd>
                            <p>労働許可証 代理申請事業 開始</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2018</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>2018年 11月</dt>
                        <dd>
                            <p>EMCトゥールトンポン支店設立</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2019</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>2019年 02月</dt>
                        <dd>
                            <p>外貨両替ATM事業　スタート</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2019年 11月</dt>
                        <dd>
                            <p>Natiional Bank of Cambodia より外貨両替ライセンス取得 License No.006/19</p>
                            <p>GREEN ROOT MONEY EXCHANGE CO.,LTD.設立</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="content-section history__section" data-aos="fade-up" data-aos-delay="50">
                <div class="history__title"><h4>2020</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>2020年 5月</dt>
                        <dd>
                            <p>EMCトゥールトンポン支店は旅行代理店へ業態変更</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>