<!-- History Page -->
<div class="content">

    <!-- About Header -->
    <app-about-header></app-about-header>
    <div class="content__pagetitle">
        <h3 class="main-title">{{ 'history.title' | translate }}</h3>
    </div>
    <div class="w-100 history bg-lightblue">
        <div class="content__wrap">

            <!-- Founder story -->
            <div class="content-section" data-aos="fade-up" data-aos-delay="50">
                <div class="founder-des">
                    <h3 class="text-center mb-5">{{ 'history.founder.title' | translate }}</h3>
                    <p class="mb-5">{{ 'history.founder.des-1' | translate }}</p>
                    <p class="mb-0">{{ 'history.founder.des-2' | translate }}</p>
                </div>
            </div>

            <!-- Section 1 -->
            <div class="content-section history__section mb-0">
                <div class="history__title"><h4>{{ 'history.sec-1.title' | translate }}</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>{{ 'history.sec-1.year-title' | translate }}</dt>
                        <dd>
                            <p>{{ 'history.sec-1.year-des' | translate }}</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- Section 2 -->
            <div class="content-section history__section mb-0">
                <div class="history__title"><h4>{{ 'history.sec-2.title' | translate }}</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>{{ 'history.sec-2.year-title' | translate }}</dt>
                        <dd>
                            <p>{{ 'history.sec-2.year-des' | translate }}</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- Section 3 -->
            <div class="content-section history__section mb-0">
                <div class="history__title"><h4>{{ 'history.sec-3.title' | translate }}</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>{{ 'history.sec-3.year-title' | translate }}</dt>
                        <dd>
                            <p>{{ 'history.sec-3.year-des' | translate }}</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- Section 4 -->
            <div class="content-section history__section mb-0">
                <div class="history__title"><h4>{{ 'history.sec-4.title' | translate }}</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>{{ 'history.sec-4.year-title' | translate }}</dt>
                        <dd>
                            <p>{{ 'history.sec-4.year-des' | translate }}</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- Section 5 -->
            <div class="content-section history__section mb-0">
                <div class="history__title"><h4>{{ 'history.sec-5.title' | translate }}</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>{{ 'history.sec-5.year-title' | translate }}</dt>
                        <dd>
                            <p>{{ 'history.sec-5.year-des' | translate }}</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- Section 6 -->
            <div class="content-section history__section mb-0">
                <div class="history__title"><h4>{{ 'history.sec-6.title' | translate }}</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>{{ 'history.sec-6.year-title-02' | translate }}</dt>
                        <dd>
                            <p>{{ 'history.sec-6.year-des-02' | translate }}</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>{{ 'history.sec-6.year-title-11' | translate }}</dt>
                        <dd>
                            <p>{{ 'history.sec-6.year-des-11-1' | translate }}</p>
                            <p>{{ 'history.sec-6.year-des-11-2' | translate }}</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- Section 7 -->
            <div class="content-section history__section">
                <div class="history__title"><h4>{{ 'history.sec-7.title' | translate }}</h4></div>
                <div class="history__list">
                    <dl>
                        <dt>{{ 'history.sec-7.year-title' | translate }}</dt>
                        <dd>
                            <p>{{ 'history.sec-7.year-des' | translate }}</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>